$c: #3eced0;

body {
	opacity: 0;
	transition: opacity 1s;
	margin: 3em 0;
	font-family: "adobe-text-pro", serif;
	font-size: 2em;
	color: #333;
}

::selection {
	background: rgba(0, 0, 0, 0.035);
}

p a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #ccc;

	&:hover {
		color: $c;
		border-color: $c;
	}
}

header#masthead, footer#colophon {
	letter-spacing: 1px;
	font-family: "proxima-nova", sans-serif;
	text-align: center;
	font-size: 75%;
}

header#masthead {

	.container {
		border-bottom: 1px solid #eee;
	}

	.row {
		 margin-bottom: -1px;
	}

	nav {

		ul {
			list-style: none;
			margin: 0;
		}

		li {
			position: relative;
			display: inline-block;
			margin: 0 15px;

			a {
				text-decoration: none;
				display: block;
				color: inherit;
				padding-bottom: 10px;
			}

			&.active a, a:hover {
				color: $c;
			}

			&.active a {
				border-bottom: 1px solid $c;
			}
		}
	}

	#logo svg {
		height: 50px;
		margin-bottom: 1em;	
		width: 100%;
	}

}

main {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 3em;
}

footer#colophon {

	margin-top: 2em;

	.container {
		padding-top: 1em;
		border-top: 1px solid #eee;
	}

	.row {
		margin-bottom: 0;
	}

}

p i {
	margin-right: 5px;
}

.hr:before {
	content: "...";
	display: block;
	margin-bottom: 2em;
	text-align: center;
	letter-spacing: 10px;
	color: #aaa;
	font-weight: bold;
}

h4, h5 {
	font-weight: bold;
}
