body {
	margin: 70px 0;
	line-height: 1.7;
	font-family: sans-serif;
	color: #222;
}

::selection {
	background: whitesmoke;
}

img {
	max-width: 100%;
}

.photos img {
	margin-bottom: 15px;
}
.photos > div {
	position: relative;
}
.photos figure {
	margin: 0;
}
.photos figcaption {
	position: absolute;
	z-index: 1;
	left: 40px;
	top: 30px;
	background: #fff;
	padding: 10px 15px;
	opacity: 0;
	transition: opacity 0.3s;
}
.photos > div:hover figcaption {
	opacity: 1;
}
.photos figcaption div:first-child {
	font-weight: bold;
}
.photos figcaption div:last-child {
	color: #999;
}

header {
	text-align: center;
}

h1 {
	font-weight: normal;
	margin: 0;
	font-size: 150%;
	line-height: 1.34;
}

nav {
	margin: 20px 0 60px 0;
}
nav ul {
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin: 0 15px;
}

.title > div {
	margin-top: 25px;
	margin-bottom: 100px;
}

p {
	margin: 0 0 20px 0;
}
p:last-child {
	margin-bottom: 0;
}

@media (min-width: 1120px) {
	.photos .grid-50 figure {
		min-height: 430px;
	}
	.photos .grid-100 figure {
		min-height: 750px;
	}
}

.smaller {
	max-width: 800px;
}

.title h1 {
	margin-bottom: 10px;
}

a {
	color: #aaa;
	text-decoration: none;
	border-bottom: 1px solid #eee;
}
a:hover {
	color: #666;
}

.fourth {
	width: 25%;
	float: left;
}

footer .grid-container {
	margin-top: 60px;
	padding-top: 60px;
	border-top: 1px solid #eee;
	line-height: 2;
}

footer h4 {
	margin: 0;
	font-size: 100%;
}