public/
dist/
docs/
.DS_Store
node_modules
cloudinary/
static/css/
static/js/
_site/

life-data/

content/_data/highlights.json
content/_data/workTags.json
content/_data/stackTags.json
content/_data/blogTags.json
content/_data/collaboratorsTags.json
content/_data/toolsTags.json
content/_data/eventRolesTags.json
content/_data/cities.json
content/_data/longTermArtists.json
content/_data/mediumTermArtists.json
content/_data/shortTermArtists.json
content/_data/pocketCastsPodcasts.json
content/_data/pocketCastsHistory.json
content/_data/programming.json
content/_data/emails.json
content/_data/lifeDataLastUpdated.json
