@import url(http://fonts.googleapis.com/css?family=Karla:400italic,400,700);

::selection {
	background: #f5f5f5;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.6em;
	line-height: 1.5;
	background: whitesmoke;
	color: #333;
	font-family: "Karla", sans-serif;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: 0.3s;
}
a:hover {
	color: #1472d1;
	text-decoration: underline;
}

a:focus {
	outline: none;
	color: #fff;
	background: #1472d1;
}

p {
	-ms-word-break: break-all;
	-ms-word-wrap: break-all;
	word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	-webkit-hyphenate-before: 2;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 3;
	-webkit-font-feature-settings: "liga", "dlig";
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}

.navbar {
	font-size: 0.95em;
	text-transform: uppercase;
}
.navbar a {
	text-decoration: none;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin: 0 1em;
}
.navbar-brand {
	font-size: 1.1em;
	margin-left: 0 !important;
}
.navbar span {
	color: #aaa;
}
.navbar span.b { display: none }
.navbar .active {
	box-shadow: 0px 1px 0px #aaa;
}
.centered {
	float: none;
	margin: 0 auto;
}
main .col-md-7 > * {
	margin-bottom: 2em;
}
.icon-bar {
	background: #333;
}
.post-title {
	font-weight: bold;
	font-size: 175%;
	margin-bottom: 1em !important;
}
h4 {
	color: #aaa;
}
.lead {
	margin: 2em 0 3em 0;
}
.intro {
	background: #1abc9c; color: #fff;
}

.nav > li > a:hover {
	background-color: transparent;
}
.navbar-collapse {
	padding: 0;
}

@media (max-width: 992px) {
	.navbar span.a {
		display: none;
	}
	.navbar span.b {
		display: inline;
	}
}
@media (max-width: 768px) {
	.navbar span.b {
		display: none !important;
	}
}

.folio img {
	width: 100%;
	border-radius: 3px 3px 0 0;
	border: 1px solid #eee;
	border-bottom: none;
}
.folio .caption {
	background: #fff;
	position: relative;
	z-index: 1;
	border-left: 1px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 2em 2em 1.7em 2em;
	border-radius: 0 0 3px 3px;
}
.folio h3 {
	font-weight: bold;
	margin: 0;
}
.folio .row {
	margin-top: 30px;
}

.quote .blockquote {
	font-size: 150%;
	background: center url("http://s3.amazonaws.com/typify/user/2ff290a2357c60c73af403258ada12eca044d0b4/cover.jpg");
	background-size: cover;
	color: #fff;
	height: 300px;
	margin-bottom: 80px;
	text-align: center;
}
.quote .blockquote p:last-child {
	text-transform: uppercase;
	font-size: 80%;
	margin-top: 1em;
	color: rgba(255, 255, 255, 0.5);
}
.inrow {
	margin-bottom: 30px;
}

.canvas {
	border: 1px solid #eee;
	padding: 3em;
	border-bottom-width: 2px;
	border-radius: 3px;
	background: #fff;
}

#logo {
	width: 150px;
	margin-top: 225px;
	position: relative;
	z-index: 1;
	border-radius: 100%;
	border: 5px solid whitesmoke;
}

.hero {
	text-align: center;
	margin-bottom: 10px;
}
.hero h1 {
	font-weight: bold;
}
