{{ partial "header.html" . }}
	<main id="content" aria-live="polite">
		<h1 class="intro">Anand Chowdhary is a creative technologist and entrepreneur. He is the co-founder and CEO of <a href="https://oswaldlabs.com" target="_blank">Oswald Labs</a>, and studies Creative Technology BSc at the University of Twente.</h1>
		<section>
			<ul class="filter">
				<li><button class="selected" data-filter=".item">All</button></li>
				<li><button data-filter=".web">Web</button></li>
				<li><button data-filter=".app">Apps</button></li>
				<li><button data-filter=".iot">IoT</button></li>
				<li><button data-filter=".branding">Branding</button></li>
				<li><button data-filter=".hardware">Hardware</button></li>
				<li><button data-filter=".artificial-intelligence">AI/ML</button></li>
				<li><button data-filter=".augmented-reality">VR/AR</button></li>
				<li><button data-filter=".event">Events</button></li>
			</ul>
			<div class="elements elements-lg">
				<div class="grid-sizer"></div>
				<!-- <h2 class="side-title">Recent projects</h2> -->
				{{ range where .Data.Pages.ByDate "Section" "projects" }}
					<article class="item {{ .Params.filter }}">
						<picture>
							<!--[if IE 9]><video style="display: none"><![endif]-->
							<source
								data-srcset="/images/{{ .Params.imageslug }}@1x.png"
								media="(max-width: 1024px)" />
							<source
								data-srcset="/images/{{ .Params.imageslug }}@2x.png" />
							<!--[if IE 9]></video><![endif]-->
							<img
								src="/images/{{ .Params.imageslug }}@0x.png"
								data-src="/images/{{ .Params.imageslug }}@1x.png"
								class="lazyload"
								alt="">
						</picture>
						<div class="twos">
							<div><strong>{{ .Title }}</strong> / {{ .Params.subcategory }}</div>
							<div>April 2018</div>
						</div>
						<p>{{ .Params.intro }}</p>
					</article>
				{{ end }}
			</div>
		</section>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}