{{ partial "header.html" . }}
	<main id="content" aria-live="polite">
		<h1 class="intro">Anand Chowdhary is a creative technologist and entrepreneur.</h1>
		<p class="lead">He is the co-founder and CEO of <a href="https://oswaldlabs.com" target="_blank">Oswald Labs</a>, an award-winning accessibility technology company; and studies Creative Technology, an interdisciplinary design and engineering program, at the University of Twente.</p>
		<section>
			<div class="elements elements-lg">
				<h2 class="side-title">Recent projects</h2>
				<div class="work-grid home-grid">
					{{ range $index, $element:= where .Data.Pages.ByDate.Reverse "Section" "projects" | first 2 }}
						<article>
							<a href="{{ .Permalink }}">
								<div class="image" style="
									background-image: url('/images/portfolio/{{ .Title | urlize }}@1x.png');
									background-color: {{ .Params.bg }}
								"></div>
								<h2>{{ .Title }}<span> &middot; {{ .Date.Format "January 2006" }}</span></h2>
								<p>{{ .Params.intro }}</p>
							</a>
					</article>
					{{ end }}
				</div>
			</div>
		</section>
		<section>
			<div class="elements elements-lg">
				<h2 class="side-title">Recent blog posts</h2>
				<div class="work-grid home-grid articles-grid">
					{{ range $index, $element:= where .Data.Pages.ByDate.Reverse "Section" "blog" | first 6 }}
						<article>
							<a href="{{ .Permalink }}">
								<h2>{{ .Title }}</h2>
								<div class="light">{{ .Date.Format "January 1, 2006" }}</div>
							</a>
						</article>
					{{ end }}
				</div>
			</div>
		</section>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}