@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i');

.navbar {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 1200px) {
	.container {
		// max-width: 960px !important;
	}
}

.navbar-brand {
	font-size: inherit;
	font-weight: bold;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

p, .wolf-item {
	font-size: 1.22rem;
	line-height: 1.7;
	font-family: "Gentium Book Basic", serif;
}
.wolf-item a {
	color: inherit;
}

.wolf-media-link, .wolf-caption, .portfolio-wolf-item .portfolio-caption a {
	display: block;
	transition: 0.3s;
}
.wolf-media-link:hover {
	transform: scale(1.05);
}
.portfolio-wolf-item .portfolio-category {
	font-style: italic;
}
.portfolio-wolf-item .portfolio-caption.hovered a {
	transform: translateX(-20px);
}
.portfolio-wolf-item.wright .portfolio-caption.hovered a {
	transform: translateX(20px);
}

.body-text p {
	font-size: 1.1rem;
}

.blog article + article {
	border-top: 1px solid #ddd;
	padding-top: 4rem;
}

p a {
	background: #f6f9fc;
}
a:hover {
	text-decoration: none;
}
p a:hover {
	text-decoration: underline;
}

.compact {
	p {
		margin-bottom: 0;
	}
	p + p::first-letter {
		display: inline-block;
		margin-left: 2.5rem;
	}
}

p:last-child {
	margin-bottom: 0;
}

section + section {
	margin-top: 5rem;
}

img {
	max-width: 100%;
}

.social-nav .nav-item:last-of-type .nav-link {
	padding-right: 0;
}

[aria-current]:not([aria-current="false"]) {
	font-weight: bold;
}

.projects a:not(:last-child) article {
	margin-bottom: 3rem;
}