{{ partial "header.html" . }}
	<main class="list {{ .Title | urlize }}{{ if ((in .URL "/events/") | or (in .URL "/roles") | or (in .URL "/places")) }} events{{ end }}">
		{{ if ((in .URL "/work/") | or (in .URL "/projects")) }}
			<ul class="filter">
				<li><a href="/projects/">All</a></li>
				<li><a href="/work/web/">Web</a></li>
				<li><a href="/work/app/">Apps</a></li>
				<li><a href="/work/internet-of-things/">IoT</a></li>
				<li><a href="/work/branding/">Branding</a></li>
				<li><a href="/work/hardware/">Hardware</a></li>
				<li><a href="/work/artificial-intelligence/">AI/ML</a></li>
				<li><a href="/work/augmented-reality/">VR/AR</a></li>
				<li><a href="/work/event/">Events</a></li>
				<li><a href="/work/industrial-design/">Industrial</a></li>
			</ul>
			<div class="work-grid">
				{{ range sort .Paginator.Pages }}
					{{ partial "portfolio-item.html" . }}
				{{ end }}
			</div>
		{{ else }}
			<div class="article-title page">
				<h1>{{ .Title }}</h1>
			</div>
			<!-- {{ if in .Permalink "/places/" }}
				<div class="place-map">
					<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuiZevIb1G87KAoLRSECEdWNBQ06JCMjU&q=New Delhi" allowfullscreen></iframe>
				</div>
			{{ end }} -->
			{{ partial "intro.html" . }}
			{{ range sort .Paginator.Pages }}
			<article class="article-list {{ if in .Params.tags "Coffee Time" }}article--coffee{{ else }}article--longform{{ end }}">
				<div class="article-title">
					{{ if .Params.icon }}
						{{ if .Params.alias }}
							<a href="{{ .Params.alias }}">
								<img class="project-icon" alt="{{ .Title }} icon" src="{{ .Params.icon }}">
							</a>
						{{ else }}
							<a href="{{ .Permalink }}">
								<img class="project-icon" alt="{{ .Title }} icon" src="{{ .Params.icon }}">
							</a>
						{{ end }}
					{{ end }}
					{{ if .Params.alias }}
						<h2><a href="{{ .Params.alias }}">{{ .Title }}</a></h2>
					{{ else }}
						{{ if in .Params.tags "Coffee Time" }}
							<h2 class="coffee-time-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
						{{ else }}
							<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
						{{ end }}
					{{ end }}
				</div>
				{{ if in .URL "/events/" }}
					<div class="meta">
						<div class="client-details">
							<div>
								<div>
									{{ if .Params.futureDate }}
										Upcoming
									{{ else }}
										Date
									{{ end }}
								</div>
								<div>
									{{ if .Params.futureDate }}
										<time>{{ .Params.futureDate }}</time>
									{{ else }}
										<time>{{ .Date.Format "January 2, 2006" }}</time>
									{{ end }}
								</div>
							</div>
							{{ if .Params.roles }}
								<div>
									<div>Role</div>
									<div>
										{{ range $i, $e := .Params.roles }}
											<a class="role-link" href="{{ "/roles/" | relLangURL }}{{ . | urlize }}/">
												{{ . }}
											</a>
										{{ end }}
									</div>
								</div>
							{{ end }}
							{{ if .Params.places }}
								<div>
									<div>Location</div>
									<div>
										{{ range $i, $e := .Params.places }}
											<a href="{{ "/places/" | relLangURL }}{{ . | urlize }}/">
												{{ . }}
												{{ partial "emoji.html" . }}
											</a>
										{{ end }}
									</div>
								</div>
							{{ end }}
						</div>
					</div>
				{{ else if not .Date.IsZero }}
					{{ if in .Params.tags "Coffee Time" }}
						<div class="meta coffee-time-meta"><a href="/tags/coffee-time/" class="coffee-time-tag">Coffee Time</a><span>{{ if eq .Section "open-source" }}Created{{ else }}Posted{{ end }} on&nbsp;</span><time>{{ .Date.Format "January 2, 2006" }}</time></div>
					{{ else }}
						<div class="meta"><span>{{ if eq .Section "open-source" }}Created{{ else }}Posted{{ end }} on&nbsp;</span><time>{{ .Date.Format "January 2, 2006" }}</time></div>
					{{ end }}
				{{ end }}
				<div class="content">
					{{ if in .Params.tags "Coffee Time" }}{{ else }}
						<p>{{ .Summary | plainify | safeHTML }}</p>
					{{ end }}
					{{ if eq .Section "open-source" }}
					<p class="sheilds">
						{{ if .Params.github }}
							<a class="no-external" href="https://github.com/{{ .Params.github }}"><img class="no-zoom" alt="Open-source license" src="https://img.shields.io/github/license/{{ .Params.github }}.svg"></a>
							<a class="no-external" href="https://github.com/{{ .Params.github }}"><img class="no-zoom" alt="Number of GitHub issues" src="https://img.shields.io/github/issues/{{ .Params.github }}.svg"></a>
						{{ end }}
						{{ if .Params.npm }}
							<a class="no-external" href="https://www.npmjs.com/package/{{ .Params.npm }}"><img class="no-zoom" alt="Number of NPM downloads" src="https://img.shields.io/npm/dm/{{ .Params.npm }}.svg"></a>
						{{ end }}
						{{ if .Params.github }}
							<a class="no-external" href="https://github.com/{{ .Params.github }}"><img class="no-zoom" alt="Number of GitHub stars" src="https://img.shields.io/github/stars/{{ .Params.github }}.svg?color=brightgreen&style=flat"></a>
						{{ end }}
					</p>
					{{ end }}
					{{ if in .Params.tags "Coffee Time" }}{{ else }}
						{{ if .Params.color }}
							{{ if .Params.alias }}
								<p><a style="color: {{ .Params.color }}; background: none" class="button is-link" href="{{ .Params.alias }}">
									{{ if .Params.publisher }}
										Continue reading on {{ .Params.publisher }}
									{{ else }}
										Continue reading
									{{ end }}
								</a></p>
							{{ else }}
								<p><a style="color: {{ .Params.color }}; background: none" class="button is-link" href="{{ .Permalink }}">Continue reading &rarr;</a></p>
							{{ end }}
						{{ else }}
							{{ if .Params.alias }}
								<p><a class="button is-link" href="{{ .Params.alias }}">
									{{ if .Params.publisher }}
										Continue reading on {{ .Params.publisher }}
									{{ else }}
										Continue reading
									{{ end }}
								</a></p>
							{{ else }}
								<p><a class="button is-link" href="{{ .Permalink }}">Continue reading &rarr;</a></p>
							{{ end }}
						{{ end }}
					{{ end }}
				</div>
			</article>
			{{ end }}
		{{ end }}
		{{ template "_internal/pagination.html" . }}
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
