{{ partial "header.html" . }}
	<main>
		<article itemscope itemtype="http://schema.org/Article" class="single {{ .Title | urlize }} {{ .Section }} {{ if .Params.type }}{{ .Params.type }}{{ end }}">
			<link itemprop="mainEntityOfPage" href="{{ .Permalink }}">
			<div class="article-title{{ if .Date.IsZero }} page{{ end }}">
				{{ if .Params.icon }}
					<img
						loading="lazy"
						class="project-icon"
						alt="{{ .Title }} icon"
						src="{{ .Params.icon }}"
					>
				{{ end }}
				<h1 itemprop="headline">{{ .Title }}</h1>
			</div>
			<div hidden style="display: none">
				<div itemprop="author">Anand Chowdhary</div>
				<div itemprop="datePublished">{{ .Date.Format "January 2006" }}</div>
				<div itemprop="dateModified">{{ .Date.Format "January 2006" }}</div>
				<div itemprop="publisher">Anand Chowdhary</div>
			</div>
			{{ if in .URL "/projects/" }}
				<div class="meta">
					<time itemprop="dateCreated">{{ .Date.Format "January 2006" }}</time>
					<div class="client-details">
						{{ if .Params.work }}
							<div>
								<div>Work</div>
								<div>
									{{ range $i, $e := .Params.work }}
										<a href="{{ "/work/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a><br>
									{{ end }}
								</div>
							</div>
						{{ end }}
						{{ if .Params.client }}
							<div>
								<div>Client</div>
								<div>{{ .Params.client }}</div>
							</div>
						{{ end }}
						{{ if .Params.timeline }}
							<div>
								<div>Timeline</div>
								<div>{{ .Params.timeline }}</div>
							</div>
						{{ end }}
					</div>
					<div class="client-details">
						{{ if .Params.award }}
						<div>
							<div>Award</div>
							<div>
								{{ if .Params.award_position }}
								{{ if eq .Params.award_position 1 }}<span aria-label="First" title="First">🥇</span>{{ end }}
								{{ if eq .Params.award_position 2 }}<span aria-label="Second" title="Second">🥈</span>{{ end }}
								{{ if eq .Params.award_position 3 }}<span aria-label="Third" title="Third">🥉</span>{{ end }}
								{{end}}
								<span>{{ .Params.award }}</span>
							</div>
						</div>
						{{ end }}
						{{ if .Params.places }}
							<div>
								<div>City</div>
								<div>
									{{ range $i, $e := .Params.places }}
										<a href="{{ "/places/" | relLangURL }}{{ . | urlize }}/">
											{{ . }}
											{{ partial "emoji.html" . }}
										</a>
									{{ end }}
								</div>
							</div>
						{{ end }}
						{{ if .Params.venue }}
						<div>
							<div>Venue</div>
							<div>
								<span>{{ .Params.venue }}</span>
								<a title="Google Maps" target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ .Params.venue }}, {{ if .Params.places }}{{ range $i, $e := .Params.places }}{{ . }}{{ end }}{{ end }}">
									<svg role="img" class="inline-svg" aria-labelledby="locationTitle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 25" version="1.1" x="0px" y="0px"><title id="locationTitle">Google Maps location</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-463.000000, -1280.000000)" fill="currentColor"><g transform="translate(40.000000, 1080.000000)"><path d="M423,207 C423,203.422 425.451,200 430,200 C434.549,200 437,203.638 437,207 C437,215.176 430,220 430,220 C430,220 423,214.983 423,207 Z M430,204 C428.343,204 427,205.343 427,207 C427,208.657 428.343,210 430,210 C431.657,210 433,208.657 433,207 C433,205.343 431.657,204 430,204 L430,204 Z"/></g></g></g></svg>
								</a>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			{{ else if in .URL "/events/" }}
				<div class="meta">
					{{ if .Params.futureDate }}
						<strong style="margin-right: 0.5rem">Upcoming</strong><time itemprop="dateCreated">{{ .Params.futureDate }}</time>
					{{ else }}
						<time itemprop="dateCreated">{{ .Date.Format "January 2, 2006" }}</time>
					{{ end }}
					<div class="client-details">
						{{ if .Params.roles }}
							<div>
								<div>Role</div>
								<div>
									{{ range $i, $e := .Params.roles }}
										<a class="role-link" href="{{ "/roles/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
									{{ end }}
								</div>
							</div>
						{{ end }}
						{{ if .Params.places }}
							<div>
								<div>City</div>
								<div>
									{{ range $i, $e := .Params.places }}
										<a href="{{ "/places/" | relLangURL }}{{ . | urlize }}/">
											{{ . }}
											{{ partial "emoji.html" . }}
										</a>
									{{ end }}
								</div>
							</div>
						{{ end }}
						{{ if .Params.link }}
							<div>
								<div>Details</div>
								<div><a href="{{ .Params.link }}">{{ .Params.linkType }}</a></div>
							</div>
						{{ end }}
					</div>
					<div class="client-details">
						{{ if .Params.venue }}
						<div>
							<div>Venue</div>
							<div>
								<span>{{ .Params.venue }}</span>
								<a title="Google Maps" target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ .Params.venue }}, {{ if .Params.places }}{{ range $i, $e := .Params.places }}{{ . }}{{ end }}{{ end }}">
									<svg role="img" class="inline-svg" aria-labelledby="locationTitle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 25" version="1.1" x="0px" y="0px"><title id="locationTitle">Google Maps location</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-463.000000, -1280.000000)" fill="currentColor"><g transform="translate(40.000000, 1080.000000)"><path d="M423,207 C423,203.422 425.451,200 430,200 C434.549,200 437,203.638 437,207 C437,215.176 430,220 430,220 C430,220 423,214.983 423,207 Z M430,204 C428.343,204 427,205.343 427,207 C427,208.657 428.343,210 430,210 C431.657,210 433,208.657 433,207 C433,205.343 431.657,204 430,204 L430,204 Z"/></g></g></g></svg>
								</a>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			{{ else if not .Date.IsZero }}
				{{ if in .Params.tags "Coffee Time" }}
					<div class="meta coffee-time-meta"><a href="/tags/coffee-time/" class="coffee-time-tag">Coffee Time</a><span>{{ if eq .Section "open-source" }}Created{{ else }}Posted{{ end }} on&nbsp;</span><time>{{ .Date.Format "January 2, 2006" }}</time></div>
				{{ else }}
					<div class="meta"><span>{{ if eq .Section "open-source" }}Created{{ else }}Posted{{ end }} on&nbsp;</span><time>{{ .Date.Format "January 2, 2006" }}</time></div>
				{{ end }}
			{{ end }}
			{{ partial "intro.html" . }}
			<div itemprop="articleBody">
				{{ .Content }}
			</div>
			{{ if .Params.tags }}<footer class="meta"><p>
				<span>Posted in <a href="{{ "/" | relLangURL }}{{ .Section | urlize }}/">{{ .Section | humanize }}</a></span>
				<span>
					{{ range $i, $e := .Params.tags }}
						&middot; <a itemprop="itemSection" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
					{{ end }}
				</span>
			</p></footer>{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
