.breadcrumbs {
  line-height: 1;
  margin-bottom: 0.75rem;
  a {
    text-decoration: none;
    &:last-child {
      display: none;
    }
    &::after {
      content: "›";
      margin: 0 0.75rem;
      pointer-events: none;
    }
  }
}
