.breadcrumbs {
  line-height: 1;
  margin: 0 0 0.75rem 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0;
  }
  li {
    &:first-child,
    &:last-child {
      display: none;
    }
    &::after {
      content: "›";
      margin: 0 0.75rem;
      pointer-events: none;
    }
  }
  a {
    text-decoration: none;
  }
}
