@import "../variables";

main#content {
  max-width: 1100px;
  margin: 5rem auto 7.5rem auto;

  > * {
    max-width: 600px;
    margin: 0 auto 1rem auto;
    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, h3, h4 {
    &:not(:first-child) {
      margin-top: 2.5rem;
    }
  }

  ul li {
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  iframe {
    width: 100%;
    border: none;
    max-width: 100%;
    margin: 2.5rem 0;
  }

  img {
    max-width: 100%;
  }

  .two-images,
  .three-images,
  .image {
    line-height: 1;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: space-between;
    &.shadow > * {
      filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.25));
    }
  }

  .two-images,
  .three-images,
  .image,
  iframe {
    margin: 5rem 0;
    + .two-images,
    + .three-images,
    + .image,
    + iframe {
      margin-top: -4rem;
    }
  }
  h1, h2, h3, h4 {
    + .two-images,
    + .three-images,
    + .image,
    + iframe {
      margin-top: 0;
    }
  }

  .two-images {
    > * {
      width: 49.25%;
    }
  }

  .three-images {
    > * {
      width: 32.25%;
    }
  }

  footer:last-child {
    color: $colorLight;
    text-align: center;
  }
}

figure {
  margin: 0;
  figcaption {
    text-align: center;
    font-size: 90%;
  }
}

nav.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    text-decoration: none;
    color: inherit;
  }
  &.pagination--has-next:not(.pagination--has-prev) {
    justify-content: flex-end;
  }
  span {
    transition: 0.3s;
  }
  .pagination-item {
    &::before, &::after {
      background-color: #333;
      width: 5rem;
      color: #fff;
      height: 5rem;
      vertical-align: middle;
      line-height: 5rem;
      border-radius: 100%;
      text-align: center;
      transition: 0.3s;
      font-size: 200%;
      display: inline-block;
    }
    &.pagination-item--prev::before {
      content: "←";
      margin-right: 2rem;
    }
    &.pagination-item--next {
      align-self: flex-end;
      &::after {
        margin-left: 2rem;
        content: "→";
      }
    }
    &:hover {
      &::before, &::after {
        transform: scale(1.05);
      }
    }
    &:focus {
      box-shadow: none;
      span {
        box-shadow: 0 0 0 0.2rem $focusRingColor;
        border-radius: 0.2rem;
      }
      &::before, &::after {
        transform: scale(1.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25), 0 0 0 0.2rem $focusRingColor;
      }
    }
  }
}
