@import "../variables";

header#masthead {
  nav,
  #more {
    display: flex;
  }
  a[href="#more"] {
    transition: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  nav a {
    padding: 1.5rem 1rem;
    transition: 0.3s;

    span {
      transition: 0.3s;
      border-bottom: 0.2rem solid transparent;
    }

    &:hover span {
      border-bottom-color: #ccc;
    }

    &.active span {
      border-bottom-color: #333;
      font-weight: bold;
    }
  }

  #more {
    display: none;
  }

  a.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 110%;
    &:focus {
      box-shadow: none;
    }
    span {
      transition: 0.3s;
    }
    &:focus {
      span {
        box-shadow: 0 0 0 0.2rem $focusRingColor;
        border-radius: 0.2rem;
      }
      svg {
        transform: scale(1.2);
      }
    }

    svg {
      height: 1.5rem;
      margin-right: 1rem;
      transition: 0.3s;
    }
  }
}

header#masthead #more:target {
  display: flex;
  + a[href="#more"] {
    visibility: hidden;
  }
}

.intro {
  background-color: lighten($color: $colorAbout, $amount: 45);
  max-width: 100%;
  width: 100%;
  padding: 3.5rem 0;
  > div {
    max-width: 1100px;
    margin: auto;
  }
  &.s > div {
    max-width: 600px;
  }
  h1:last-child {
    margin-bottom: 0;
  }
}

.index header#masthead nav a.active span {
  border-bottom-color: #274a90;
}
.index {
  color: #001d56;
}

.projects .intro {
  background-color: lighten($color: $colorProjects, $amount: 48);
}
.projects header#masthead nav a.active span {
  border-bottom-color: $colorProjects;
}

.blog .intro {
  background-color: lighten($color: $colorBlog, $amount: 55);
  nav.filter-nav a.active {
    background-color: $colorBlog;
  }
}
.blog {
  a,
  h2 + div,
  .project-intro dt {
    color: darken($color: $colorBlog, $amount: 20);
  }
}
.blog header#masthead nav a.active span {
  border-bottom-color: $colorBlog;
}

.life .intro {
  background-color: lighten($color: $colorLife, $amount: 43);
}
.life header#masthead nav a.active span {
  border-bottom-color: $colorLife;
}
.life a,
.life .project-intro dt,
.life h2 + div {
  color: darken($color: $colorLife, $amount: 10);
}

.events .intro {
  background-color: lighten($color: $colorEvents, $amount: 50);
}
.events header#masthead nav a.active span {
  border-bottom-color: $colorEvents;
}
.events a,
.events .project-intro dt {
  color: darken($color: $colorEvents, $amount: 10);
}

.about .intro {
  background-color: lighten($color: $colorAbout, $amount: 45);
}
.about header#masthead nav a.active span {
  border-bottom-color: $colorAbout;
}
.about a,
.about .project-intro dt {
  color: darken($color: $colorAbout, $amount: 10);
}
