@import "../variables";

.collaborators-list.podcasts-list a {
  padding: 0;
  display: flex;
  align-items: center;
  img.colla-pic {
    height: 6.5rem;
    margin-right: 1.5rem;
    border-radius: 0.2rem 0 0 0.2rem;
  }
  div > div:last-child {
    margin-top: 0.75rem;
    opacity: 0.75;
  }
  &::after {
    display: none;
  }
}

.data-summary {
  display: flex;
  background-color: whitesmoke;
  margin: 2.5rem auto;
  padding: 2.5rem;
  border-radius: 0.2rem;
  justify-content: space-between;
  > div {
    flex: 1 0 0;
  }
  > div > div:first-child {
    font-size: 150%;
    margin-bottom: 0.5rem;
  }
}

.link-list {
  margin: 2rem auto 0 auto;
  padding: 0;
  list-style: none;
  article + article {
    margin-top: 2rem;
  }
  li {
    margin-bottom: 0;
  }
  a,
  .a {
    display: block;
    text-decoration: none;
    line-height: 1;
    color: inherit;
    position: relative;
    &:focus {
      box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2),
        0 0 0 0.2rem $focusRingColor;
      transform: translateY(-0.25rem);
    }
    &:hover {
      border-radius: 0.2rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    }
    &::after {
      display: none;
    }
  }
  li:first-child a,
  li:first-child .a {
    border-radius: 0.2rem 0.2rem 0 0;
    &:focus {
      border-radius: 0.2rem;
    }
  }
  li:last-child a,
  li:last-child .a {
    border-bottom: none;
    border-radius: 0 0 0.2rem 0.2rem;
    &:focus {
      border-radius: 0.2rem;
    }
  }
  div + div {
    margin-top: 0.5rem;
  }
  h2,
  h3 {
    font-size: 125%;
    margin-bottom: 0.5rem;
  }
  .emoji {
    font-size: 200%;
    vertical-align: middle;
    margin-right: 1rem;
  }
  .flag {
    float: right;
  }
  img,
  .img {
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
    margin-left: -7rem;
    border-radius: 100%;
    vertical-align: middle;
  }
  .img {
    background-color: #eee;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.tl img,
  &.tl .img {
    background-position: top left;
  }
  &.b img,
  &.b .img {
    border: 1px solid #eee;
  }
  &.nr img,
  &.nr .img {
    border-radius: 0.2rem;
  }
  &.s img,
  &.s .img {
    width: 3rem;
    height: 3rem;
    margin-left: -5rem;
  }
}

.ff {
  flex: 1 0 0;
}
