.collaborators-list.podcasts-list a {
  padding: 0;
  display: flex;
  align-items: center;
  img.colla-pic {
    height: 6.5rem;
    margin-right: 1.5rem;
    border-radius: 0.2rem 0 0 0.2rem;
  }
  div > div:last-child {
    margin-top: 0.75rem;
    opacity: 0.75;
  }
  &::after {
    display: none;
  }
}

main#content .data-summary {
  display: flex;
  background-color: whitesmoke;
  margin: 2.5rem auto;
  padding: 2.5rem;
  border-radius: 0.2rem;
  justify-content: space-between;
  > div {
    flex: 1 0 0;
  }
  > div > div:first-child {
    font-size: 150%;
    margin-bottom: 0.5rem;
  }
}
