@import "../variables";

.travel.single {
  .projects {
    margin-top: 2.5rem;
  }
}

.highlighted-stories {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  margin-top: -5rem;
  img {
    height: 100vh;
    border-radius: 0.2rem;
  }
}

.travel > div {
  article {
    flex: 0 0 auto;
    text-align: center;
    width: 10rem;
  }
  picture + div > div:last-child {
    margin-top: 0.5rem;
    font-size: 90%;
  }
  $image-width: 50%;
  picture {
    overflow: hidden;
    width: $image-width;
    margin: 0 auto 1rem auto;
    line-height: 1;
    display: block;
    border: 0.125rem solid $colorTravel;
    padding: 0.25rem;
    border-radius: 100%;
    img {
      vertical-align: top;
      border-radius: 100%;
      background-color: rgba(100, 100, 100, 0.5);
      width: 100%;
    }
  }
}
