@import "../variables";

.htag {
  display: inline-block;
  vertical-align: middle;
  background-color: lighten($color: $colorAbout, $amount: 40);
  color: #000;
  line-height: 1;
  font-size: 60%;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.2rem;
  letter-spacing: 1px;
  margin-left: 0.5rem;
  font-family: $sansSerif;
}

.image.scrollable {
  max-height: 100vh;
  display: block;
  overflow-x: scroll;
  &.shadow {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    > * {
      filter: none;
    }
  }
}
