			</div>
		</div>
		<footer id="colophon">
			<div class="container">
				<div class="left-links">
					<a href="/about/">About</a>
					<a href="/press/">Press</a>
					<a href="/contact/">Contact</a>
				</div>
				<p>&copy; 2008&ndash;{{ now.Format "2006" }} <a href="/about/">Anand Chowdhary</a></p>
				<a href="https://madewithlove.org.in" target="_blank" rel="noopener noreferrer">Made with ❤️ in 🇮🇳 and 🇳🇱</a>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
		<script src="https://unpkg.com/medium-zoom@1.0.2/dist/medium-zoom.min.js"></script>
		<script src="{{ .Site.BaseURL }}js/app.js"></script>
		<script async src="https://platform-beta.oswaldlabs.com/v1/load/anand.js"></script>
		<script async src="https://static.oswaldlabs.com/focus-visible.js"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39298323-1"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-39298323-1");</script>
		<script type="application/ld+json">{"@context":"https://schema.org","@type":"person","name":"Anand Chowdhary","url":"https://anandchowdhary.com","birthDate":"1997-12-29","gender":"Male","nationality":"India","homeLocation":"Enschede, the Netherlands","jobTitle":"Chief Executive Officer","worksFor":{"@type":"Organization","name":"Oswald Labs","alternateName":"Oswald Foundation","url":"https://oswaldlabs.com","logo":"https://static.oswaldlabs.com/oswald-labs-logo.svg","email":"yourfriends@oswaldlabs.com","sameAs":["https://www.facebook.com/OswaldLabs","https://www.twitter.com/OswaldLabs","https://en.wikipedia.org/wiki/Oswald_Labs","https://www.wikidata.org/wiki/Q27593967"]},"sameAs":["https://www.facebook.com/AnandChowdhary","https://www.twitter.com/AnandChowdhary","https://www.linkedin.com/in/AnandChowdhary/","https://plus.google.com/+AnandChowdhary0","https://www.instagram.com/anandchowdhary/","https://www.wikidata.org/wiki/Q33134612"]}</script>
	</body>
</html>
