{{ partial "header.html" . }}
	<main id="content" aria-live="polite">
		<h1 class="intro">Anand Chowdhary is a creative technologist and entrepreneur.</h1>
		<p class="lead">He is the co-founder and CEO of <a href="https://oswaldlabs.com" target="_blank">Oswald Labs</a>, an award-winning accessibility technology company; and studies Creative Technology, an interdisciplinary design and engineering program, at the University of Twente.</p>
		<section>
			<div class="elements elements-lg">
				<h2 class="side-title">Recent projects</h2>
				<div class="work-grid home-grid">
					{{ range $index, $element:= where .Data.Pages.ByDate.Reverse "Section" "projects" | first 2 }}
						<article>
							<a href="{{ .Permalink }}">
								{{ if .Params.style }}
									{{ if eq .Params.style "padded" }}
									<div class="image" style="background-color: {{ .Params.bg }}">
										<img
											src="{{ .Params.img_src }}@loading.{{ .Params.img_type }}"
											data-sizes="auto"
											data-src="{{ .Params.img_src }}.{{ .Params.img_type }}"
											data-srcset="{{ .Params.img_src }}@300.{{ .Params.img_type }} 300w, {{ .Params.img_src }}@600.{{ .Params.img_type }} 600w, {{ .Params.img_src }}@900.{{ .Params.img_type }} 900w, {{ .Params.img_src }}@1200.{{ .Params.img_type }} 1200w"
											class="real-image is-padded lazyload"
											alt="Graphic for {{ .Params.title }}"
										>
									</div>
									{{ else if eq .Params.style "width" }}
									<div class="image" style="background-color: {{ .Params.bg }}">
										<img
											src="{{ .Params.img_src }}@loading.{{ .Params.img_type }}"
											data-sizes="auto"
											data-src="{{ .Params.img_src }}.{{ .Params.img_type }}"
											data-srcset="{{ .Params.img_src }}@300.{{ .Params.img_type }} 300w, {{ .Params.img_src }}@600.{{ .Params.img_type }} 600w, {{ .Params.img_src }}@900.{{ .Params.img_type }} 900w, {{ .Params.img_src }}@1200.{{ .Params.img_type }} 1200w"
											class="real-image is-centered-width lazyload"
											alt="Graphic for {{ .Params.title }}"
										>
									</div>
									{{ else }}
									<div class="image" style="background-color: {{ .Params.bg }}">
										<img
											src="{{ .Params.img_src }}@loading.{{ .Params.img_type }}"
											data-sizes="auto"
											data-src="{{ .Params.img_src }}.{{ .Params.img_type }}"
											data-srcset="{{ .Params.img_src }}@300.{{ .Params.img_type }} 300w, {{ .Params.img_src }}@600.{{ .Params.img_type }} 600w, {{ .Params.img_src }}@900.{{ .Params.img_type }} 900w, {{ .Params.img_src }}@1200.{{ .Params.img_type }} 1200w"
											class="real-image is-full-width lazyload"
											alt="Graphic for {{ .Params.title }}"
										>
									</div>
									{{ end }}
								{{ else }}
									<div class="image" style="background-color: {{ .Params.bg }}">
										<img
											src="{{ .Params.img_src }}@loading.{{ .Params.img_type }}"
											data-sizes="auto"
											data-src="{{ .Params.img_src }}.{{ .Params.img_type }}"
											data-srcset="{{ .Params.img_src }}@300.{{ .Params.img_type }} 300w, {{ .Params.img_src }}@600.{{ .Params.img_type }} 600w, {{ .Params.img_src }}@900.{{ .Params.img_type }} 900w, {{ .Params.img_src }}@1200.{{ .Params.img_type }} 1200w"
											class="real-image is-centered-height lazyload"
											alt="Graphic for {{ .Params.title }}"
										>
									</div>
								{{ end }}
								<h2>{{ .Title }}<span> &middot; {{ .Date.Format "January 2006" }}</span></h2>
								{{ .Params.intro | markdownify }}
							</a>
					</article>
					{{ end }}
				</div>
			</div>
		</section>
		<section>
			<div class="elements elements-lg">
				<h2 class="side-title">New</h2>
				<div class="work-grid home-grid articles-grid">
					{{ range first 6 (where .Data.Pages "Section" "!=" "events") }}
						<article class="{{ .Section | urlize }}">
							<a href="{{ .Permalink }}" style="display: inline-block">
								<h2>{{ .Title }}</h2>
								<div class="light">
									{{ if .Params.futureDate }}
										Upcoming event on {{ .Params.futureDate }}
									{{ else }}
										{{ .Date.Format "January 2, 2006" }}
										in {{ .Section | humanize }}
									{{ end }}
								</div>
							</a>
						</article>
					{{ end }}
				</div>
			</div>
		</section>
		<section>
			<div class="elements elements-lg">
				<h2 class="side-title">Events</h2>
				<div class="work-grid home-grid articles-grid">
					{{ range first 6 (where .Data.Pages "Section" "events") }}
						<article class="{{ .Section | urlize }}">
							<a href="{{ .Permalink }}" style="display: inline-block">
								<h2>{{ .Title }}</h2>
								<div class="light">
									{{ if .Params.futureDate }}
										{{ .Params.futureDate }}
									{{ else }}
										{{ .Date.Format "January 2, 2006" }}
									{{ end }}
									{{ if .Params.places }}
									in
										{{ range $i, $e := .Params.places }}
											{{ . }}{{ partial "emoji.html" . }}
										{{ end }}
									{{ end }}
								</div>
							</a>
						</article>
					{{ end }}
				</div>
			</div>
		</section>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
