			</div>
		</div>
		<footer id="colophon">
			<div class="container">
				<p>&copy; 2008&ndash;2018 Anand Chowdhary</p>
				<a href="https://madewithlove.org.in" target="_blank" rel="noopener noreferrer">Made with <span class="love">&hearts;</span> in India and the Netherlands</a>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.2/lazysizes.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script> -->
		<script>
			function initMe() {
				if (new Date().getHours() > 5) {
					// document.documentElement.classList.add("dark");
				}
				var internal = location.host.replace("www.", ""); internal = new RegExp(internal, "i"); var a = document.getElementsByTagName('a'); for (var i = 0; i < a.length; i++) { var href = a[i].host; if( !internal.test(href) ) { a[i].setAttribute('target', '_blank'); a[i].setAttribute('target', '_blank'); a[i].setAttribute('rel', 'noopener noreferrer'); a[i].setAttribute('href', a[i].getAttribute('href') + "?utm_source=anandchowdhary.com&utm_medium=Anand+Chowdhary's+portfolio"); } }
			}
			(function() {
				initMe();
				// Barba.Pjax.start();
				// Barba.Dispatcher.on("newPageReady", function(currentStatus, oldStatus, container) {
				// 	initMe();
				// });
			})();
		</script>
	</body>
</html>