html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant-ligatures: historical-ligatures;
  line-height: 1.7;
}

.font-display {
  font-family: "InterDisplay", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.full-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  text-decoration: underline;
  transition: 0.3s;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

p {
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}

.hide-on-open {
  opacity: 1;
}

details[open] .hide-on-open {
  opacity: 0;
}

.show-on-open {
  opacity: 0;
}

details[open] .show-on-open {
  opacity: 1;
}

.rotate-on-open {
  transition: transform 0.3s;
}

details[open] .rotate-on-open {
  transform: rotate(180deg);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@media (prefers-reduced-motion: reduce) {
  .wave {
    animation: none;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  7% {
    transform: rotate(14deg);
  }
  14% {
    transform: rotate(-8deg);
  }
  21% {
    transform: rotate(14deg);
  }
  28% {
    transform: rotate(-4deg);
  }
  35% {
    transform: rotate(10deg);
  }
  42% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.longform {
  font-size: 110%;
}

.longform h1,
.longform h2,
.longform h3,
.longform h4,
.longform h5,
.longform h6 {
  font-weight: 600;
  position: relative;
}
.longform h1 {
  font-size: 200%;
}
.longform h2 {
  font-size: 166%;
}
.longform h3 {
  font-size: 133%;
}
.longform h4 {
  font-size: 100%;
}

.longform * + * {
  margin-top: 1rem;
}

.longform a {
  font-weight: 500;
  text-decoration: underline;
}
.longform a:hover {
  opacity: 0.8;
}

.longform p:first-child {
  font-size: 110%;
}

.breadcrumbs li + li:not(:first-child)::after {
  content: "›";
  padding: 0 0.5rem;
}

a.anchor {
  position: absolute;
  left: -1.5em;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: 0.3s;
}

a.anchor svg {
  height: 1em;
  width: 1em;
  opacity: 0.5;
}

.longform h1:hover a.anchor,
.longform h2:hover a.anchor,
.longform h3:hover a.anchor,
.longform h4:hover a.anchor,
.longform h5:hover a.anchor,
.longform h6:hover a.anchor {
  opacity: 1;
}

a[data-footnote-ref] {
  text-decoration: none;
}
[data-footnote-ref]:before {
  content: "[";
}
[data-footnote-ref]:after {
  content: "]";
}

.footnotes {
  font-size: 80%;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}
.footnotes a {
  text-decoration: none;
}

.post-header {
  margin: 1rem 0;
}
.post-header h1 {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.post-header p {
  color: rgba(0, 0, 0, 0.5);
}

.inset-link::after {
  content: "";
  position: absolute;
  inset: 0;
}
