<article>
  <div class="l">
    <div>
      {% if post.data.alias %}
      <h2><a href="{{ post.data.alias | url }}">{{ post.data.title }}</a></h2>
      {% else %}
      <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      {% endif %}
      <div>Posted on <time>{{ post.data.date.toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year : "numeric"
      }) }}</time></div>
      {% if "coffee-time" in post.data.tags %}
      <a href="/blog/coffee-time/" class="tag">Coffee time</a>
      {% endif %}
    </div>
  </div>
  <div class="r">
    {% excerpt post %}
    {% if post.data.alias %}
    <p><a href="{{ post.data.alias | url }}">Continue reading on {{ post.data.publisher }}</a></p>
    {% else %}
    <p><a href="{{ post.url | url }}">Continue reading &rarr;</a></p>
    {% endif %}
  </div>
</article>
