---
pagination:
  data: collections.blog
  size: 10
  reverse: true
  alias: pagination
---

{% include "head.njk" %}
<main id="content">
  <div class="blog-title">
    <div class="l"></div>
    <div class="r">
      <h1>{{ title }}</h1>
      {{ content | safe }}
      <nav class="filter-nav">
        <a class="active" href="/blog/">All</a>
        <a href="/blog/coffee-time/">Coffee Time</a>
        <a href="/blog/state-of-the/">State of the X</a>
        <a href="/blog/code/">Code</a>
        <a href="/blog/design/">Design</a>
      </nav>
    </div>
  </div>
  <section class="blog-posts">
    {% for post in pagination %}
      {% include "blog-item.njk" %}
    {% endfor %}
  </section>
  {% if pagination.pageLinks.length > 1 %}
  <nav class="pagination {% if pagination.previousPageLink %}pagination--has-prev{% endif %} {% if pagination.nextPageLink %}pagination--has-next{% endif %}">
    {% if pagination.previousPageLink %}
      <a class="pagination-item pagination-item--prev" href="{{ pagination.previousPageHref | url }}"><span>Previous</span></a>
    {% endif %}
    {% if pagination.nextPageLink %}
      <a class="pagination-item pagination-item--next" href="{{ pagination.nextPageHref | url }}"><span>Next</span></a>
    {% endif %}
  </nav>
  {% endif %}
</main>
{% include "footer.njk" %}
