{# {% if "coffee-time" in post.data.tags %}
<article class="coffee-time">
  <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
  <div>
    <a href="#" class="tag">Coffee time</a>
    <time>{{ post.data.date.toLocaleDateString("en-US", {
      day: "numeric",
      month: "short",
      year : "numeric"
    }) }}</time>
  </div>
</article>
{% else %} #}
<article>
  <div class="l">
    <div>
      <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      <div>Posted on <time>{{ post.data.date.toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year : "numeric"
      }) }}</time></div>
    </div>
  </div>
  <div class="r">
    {% excerpt post %}
    <p><a href="{{ post.url | url }}">Continue reading &rarr;</a></p>
  </div>
</article>
{# {% endif %} #}
