---
pagination:
  data: books
  size: 1
  alias: book
permalink: books/{{ book.name | slugify }}/index.html
---

{% include "head.njk" %}
<main id="content">
  <h1>{{ book.name }}</h1>
</main>
{% include "footer.njk" %}
