<article class="books-item">
  <a href="/books/{{ book.name | slugify }}">
    <div class="content">
      <picture class="book-image">
        <img src="https://tse2.mm.bing.net/th?q={{ book.name | urlencode }}%20{{ book.author | urlencode }}%20cover&w=100&h=150&p=0&dpr=2&adlt=moderate&c=1" alt="" loading="lazy">
      </picture>
      <div>
        <h2>{{ book.name }}</h2>
        <div>{{ book.author }}</div>
        <div class="rating">
          ⭐ {{ book.rating }}/5
        </div>
      </div>
    </div>
  </a>
</article>
