---
pagination:
  data: books
  size: 10
  alias: pagination
---

{% include "head.njk" %}
<main id="content">
  <header class="intro s">
    <div>
      <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/">
            <span itemprop="name">Anand Chowdhary</span></a>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/life/">
            <span itemprop="name">Life</span></a>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/life/reading/">
            <span itemprop="name">{{ title }}</span></a>
          </a>
          <meta itemprop="position" content="3" />
        </li>
      </ol>
      <h1>{{ title }}</h1>
      {{ content | safe }}
      <p>This is a living document, and data was last updated {{ lifeDataLastUpdated["books.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['books.yml'].html_url }}">{{ lifeDataLastUpdated["books.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/books.yml">books.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/goodreads.ts">Goodreads</a> on GitHub. You can also view the <a href="https://github.com/AnandChowdhary/life-data/commits/master/books.yml">commit history</a> to see how this data has changed over time.</p>
    </div>
  </header>
  <div class="container-outer">
    <section>
      {% for book in pagination %}
        {% include "books-item.njk" %}
      {% endfor %}
    </section>
    {% if pagination.pageLinks.length > 1 %}
    <nav class="pagination {% if pagination.previousPageLink %}pagination--has-prev{% endif %} {% if pagination.nextPageLink %}pagination--has-next{% endif %}">
      {% if pagination.previousPageLink %}
        <a class="pagination-item pagination-item--prev" href="{{ pagination.previousPageHref | url }}"><span>Previous</span></a>
      {% endif %}
      {% if pagination.nextPageLink %}
        <a class="pagination-item pagination-item--next" href="{{ pagination.nextPageHref | url }}"><span>Next</span></a>
      {% endif %}
    </nav>
    {% endif %}
  </div>
</main>
{% include "footer.njk" %}
