---
pagination:
  data: cities
  size: 1
  alias: city
permalink: life/travel/{{ city.slug }}/index.html
---

{% include "head.njk" %}
<main id="content">
  {% citiesArchive city.slug %}
</main>
{% include "footer.njk" %}
