---
pagination:
  data: cities
  size: 1
  alias: city
permalink: places/{{ city | slug }}/index.html
---

{% include "head.njk" %}
<main id="content">
  {# <picture class="book-image book-image-lg">
    <img src="https://tse2.mm.bing.net/th?q={{ travel.city | urlencode }}&w=100&h=100&p=0&dpr=2&adlt=moderate&c=1" alt="" loading="lazy">
  </picture> #}
  {% citiesArchive city %}
</main>
{% include "footer.njk" %}
