---
pagination:
  data: collaboratorsTags
  size: 10
  alias: pagination
---

{% include "head.njk" %}
<main id="content">
  <header class="intro">
    <div>
      <nav class="breadcrumbs">
        <a href="/projects/">Projects</a>
        <a href="/projects/collaborators/">{{ title }}</a>
      </nav>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
  </header>
  <div class="container-outer">
    <section class="link-list collaborators-list">
      {% for item in pagination %}
        <article>
          <a href="/projects/collaborators/{{ item }}">
            {% collaboratorProfilePicture item %}
            {% collaboratorName item %}
          </a>
        </article>
      {% endfor %}
    </section>
    {% if pagination.pageLinks.length > 1 %}
    <nav class="pagination {% if pagination.previousPageLink %}pagination--has-prev{% endif %} {% if pagination.nextPageLink %}pagination--has-next{% endif %}">
      {% if pagination.previousPageLink %}
        <a class="pagination-item pagination-item--prev" href="{{ pagination.previousPageHref | url }}"><span>Previous</span></a>
      {% endif %}
      {% if pagination.nextPageLink %}
        <a class="pagination-item pagination-item--next" href="{{ pagination.nextPageHref | url }}"><span>Next</span></a>
      {% endif %}
    </nav>
    {% endif %}
  </div>
</main>
{% include "footer.njk" %}
