{% include "head.njk" %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
<main id="content">
  <header class="intro s">
    <div>
      <h1>{{ title }}</h1>
      <p>To get in touch with me, fill in the form below. Alternately, you can send an email to <a href="mailto:mail@anandchowdhary.com">mail@anandchowdhary.com</a>. I'm also on:</p>
      <div class="social-links">
        <a href="https://twitter.com/AnandChowdhary" data-balloon="Twitter" data-balloon-pos="up"><i title="Twitter" class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com/in/AnandChowdhary" data-balloon="LinkedIn" data-balloon-pos="up"><i title="LinkedIn" class="fab fa-linkedin"></i></a>
        <a href="https://github.com/AnandChowdhary" data-balloon="GitHub" data-balloon-pos="up"><i title="GitHub" class="fab fa-github"></i></a>
        <a href="https://instagram.com/anandchowdhary" data-balloon="Instagram" data-balloon-pos="up"><i title="Instagram" class="fab fa-instagram"></i></a>
        <a href="https://facebook.com/AnandChowdhary" data-balloon="Facebook" data-balloon-pos="up"><i title="Facebook" class="fab fa-facebook"></i></a>
        <a href="https://medium.com/@AnandChowdhary" data-balloon="Medium" data-balloon-pos="up"><i title="Medium" class="fab fa-medium"></i></a>
        <a href="https://dribbble.com/anandchowdhary" data-balloon="Dribbble" data-balloon-pos="up"><i title="Dribbble" class="fab fa-dribbble"></i></a>
        <a href="https://quora.com/Anand-Chowdhary" data-balloon="Quora" data-balloon-pos="up"><i title="Quora" class="fab fa-quora"></i></a>
        <a href="https://angel.co/anand-chowdhary" data-balloon="Angellist" data-balloon-pos="up"><i title="Angellist" class="fab fa-angellist"></i></a>
      </div>
    </div>
  </header>
  <div class="container-outer nmb">
    <p>I want to get in touch with you for…</p>
    <div>
      <div>
        <div>
          <input name="category" type="radio" value="speaking" id="categorySpeaking">
          <label for="categorySpeaking">Speaking at an event</label>
        </div>
        <div>
          <input name="category" type="radio" value="interview" id="categoryInterview">
          <label for="categoryInterview">Interview or press request</label>
        </div>
        <div>
          <input name="category" type="radio" value="work" id="categoryWork">
          <label for="categoryWork">Freelance or consultancy work</label>
        </div>
        <div>
          <input name="category" type="radio" value="partnership" id="categoryPartnership">
          <label for="categoryPartnership">Exploring partnerships with Oswald Labs</label>
        </div>
        <div>
          <input name="category" type="radio" value="support" id="categorySupport">
          <label for="categorySupport">Support with an Oswald Labs product</label>
        </div>
        <div>
          <input name="category" type="radio" value="openSource" id="categoryOpenSource">
          <label for="categoryOpenSource">Support with an open-source library</label>
        </div>
        <div>
          <input name="category" type="radio" value="other" id="categoryOther" checked>
          <label for="categoryOther">Something else</label>
        </div>
      </div>
    </div>
  </div>
  <div class="container-outer nmt">
    <p class="response response-categorySpeaking" hidden>I speak at select events about entrepreneurship, technology, and design. If you want to invite me to speak at your event, write to <a href="mailto:events@anandchowdhary.com">events@anandchowdhary.com</a>.</p>
    <p class="response response-categoryInterview" hidden>If you want to send a press interview request, write to <a href="mailto:press@anandchowdhary.com">press@anandchowdhary.com</a>.</p>
    <p class="response response-categoryWork" hidden>I'm currently not accepting any new freelance or consultancy projects.</p>
    <p class="response response-categoryPartnership" hidden>The best way to disuss partnerships with Oswald Labs is to go to the <a href="https://oswaldlabs.com/contact">support page on Oswald Labs’ website</a> or write to <a href="mailto:yourfriends@oswaldlabs.com">yourfriends@oswaldlabs.com</a>.</p>
    <p class="response response-categorySupport" hidden>If you need help with an Oswald Labs product or service, you can visit the <a href="https://help.oswaldlabs.com">support website</a>. If you have a question, you can visit the <a href="https://oswaldlabs.com/contact">support page on Oswald Labs’ website</a> or write to <a href="mailto:yourfriends@oswaldlabs.com">yourfriends@oswaldlabs.com</a>.</p>
    <p class="response response-categoryOpenSource" hidden>If you discovered a bug in or need support with an open-source project I maintain, the most efficient way is to open an issue on its <a href="https://github.com/AnandChowdhary">GitHub</a> project and tag me (@AnandChowdhary).</p>
    <form action="https://formspree.io/mail@anandchowdhary.com" method="post" class="response response-categoryOther">
      <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Enter your full name" required>
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" name="_replyto" type="email" placeholder="Enter your email" required>
      </div>
      <div>
        <label for="message">Message</label>
        <textarea rows="5" id="message" name="message" placeholder="Enter your message" required></textarea>
      </div>
      <button type="submit">Send message</button>
    </form>
  </div>
  <div class="container-outer nmt">
    {{ content | safe }}
  </div>
</main>
{% include "footer.njk" %}
