    <footer id="colophon">
      <nav>
        <a href="/about/">About</a>
        <a href="/about/colophon/">Colophon</a>
      </nav>
      <p>&copy; 2008&ndash;2020 <a href="/">Anand Chowdhary</a></p>
      <p><a href="https://madewithlove.org.in">Made with ❤️ in 🇮🇳🇳🇱🇺🇸</a></p>
    </footer>
    <script src="/assets/scripts/{{ jsFilePath }}"></script>
  </body>
</html>
