    <footer id="colophon">
      <div class="container">
        <nav>
          <a href="/about/">About</a>
          <a href="/about/colophon/">Colophon</a>
          <a href="https://github.com/AnandChowdhary" rel="me">GitHub</a>
        </nav>
        <p>&copy; 2008&ndash;2020 <a href="/">Anand Chowdhary</a></p>
        <p><a href="https://madewithlove.org.in">Made with ❤️ in 🇮🇳🇳🇱🇺🇸</a></p>
      </div>
    </footer>
    {# {% if environment.NODE_ENV == "production" %} #}
    {# <script src="/assets/scripts/{{ jsFilePath.name }}" integrity="{{ jsFilePath.integrity }}" crossorigin="anonymous"></script> #}
    <script
      src="https://agastya-support.oswaldlabs.com/agastya.js"
      id="oswald-labs-agastya"
      data-api-key="anand"
      data-background-color="#3742fa"
      data-foreground-color="#ffffff"
      data-heading-text="Help & Accessibility"
      data-subheading-text="Anand Chowdhary"
      async
      defer
    ></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39298323-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-39298323-1");</script>
    {# {% else %} #}
    <script src="/assets/scripts/{{ jsFilePath.name }}"></script>
    {# {% endif %} #}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"person","name":"Anand Chowdhary","url":"https://anandchowdhary.com","birthDate":"1997-12-29","gender":"Male","nationality":"India","homeLocation":"Enschede, the Netherlands","jobTitle":"Chief Executive Officer","worksFor":{"@type":"Organization","name":"Oswald Labs","alternateName":"Oswald Foundation","url":"https://oswaldlabs.com","logo":"https://static.oswaldlabs.com/oswald-labs-logo.svg","email":"yourfriends@oswaldlabs.com","sameAs":["https://www.facebook.com/OswaldLabs","https://www.twitter.com/OswaldLabs","https://en.wikipedia.org/wiki/Oswald_Labs","https://www.wikidata.org/wiki/Q27593967"]},"sameAs":["https://www.facebook.com/AnandChowdhary","https://www.twitter.com/AnandChowdhary","https://www.linkedin.com/in/AnandChowdhary/","https://plus.google.com/+AnandChowdhary0","https://www.instagram.com/anandchowdhary/","https://www.wikidata.org/wiki/Q33134612"]}</script>
  </body>
</html>
