<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} · Anand Chowdhary</title>
    <link rel="stylesheet" href="/assets/styles/main.min.css">
  </head>
  <body>
    {% include "header.njk" %}