{% include "head.njk" %}
<div class="hero-container">
  <div class="container-large">
    <div class="hero">
      {{ content | safe }}
    </div>
  </div>
</div>
<main id="content">
  <div class="container m">
    <section class="home-items projects">
      <h1><a href="/projects/">Projects</a></h1>
      <div>
        {% for project in collections.projects | reverse %}
          {% if loop.index <= 2 %}
            {% include "project-item.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items blog">
      <h1><a href="/blog/">Blog</a></h1>
      <div>
        {% for post in collections.blog | reverse %}
          {% if loop.index <= 4 %}
            {% include "home-item.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items events">
      <h1><a href="/events/">Speaking</a></h1>
      <div>
        {% for post in collections.events | reverse %}
          {% if loop.index <= 4 %}
            {% include "home-event.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items travel">
      <h1><a href="/life/travel/">Travel</a></h1>
      <div class="horizontal-scroller">
        <div class="home-highlights">{% highlights %}</div>
      </div>
    </section>
    {# <section class="home-items links">
      <h1>Links</h1>
      <div>
        <div>
          <h2><a href="/projects/">Projects</a></h2>
          <ul>
            <li><a href="/projects/oswald-labs/">Oswald Labs</a></li>
            <li><a href="/projects/open-source/">Open source</a></li>
            <li><a href="/projects/collaborators/">Collaborators</a></li>
            <li><a href="/projects/stack/">Stack</a></li>
            <li><a href="/projects/tools/">Tools</a></li>
          </ul>
        </div>
        <div>
          <h2><a href="/blog/">Blog</a></h2>
          <ul>
            <li><a href="/blog/coffee-time/">Coffee Time</a></li>
            <li><a href="/blog/state-of-the/">State of the X</a></li>
            <li><a href="/blog/code/">Code</a></li>
            <li><a href="/blog/design/">Design</a></li>
            <li><a href="/blog/archive/">Archive</a></li>
          </ul>
        </div>
        <div>
          <h2><a href="/life/">Life</a></h2>
          <ul>
            <li><a href="/life/work/programming/">Programming</a></li>
            <li><a href="/life/work/emails/">Emails</a></li>
            <li><a href="/life/listening/podcasts/">Podcasts</a></li>
            <li><a href="/life/listening/music/">Music</a></li>
            <li><a href="/life/reading/">Reading</a></li>
          </ul>
        </div>
        <div>
          <h2>Media</h2>
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/videos/">Videos</a></li>
            <li><a href="/press/">Press</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </section> #}
  </div>
</main>
{% include "footer.njk" %}
