{% include "head.njk" %}
<div class="hero-container">
  <div class="container-large">
    <div class="hero">
      {{ content | safe }}
    </div>
  </div>
</div>
<main id="content">
  <div class="container-large">
    <section class="home-items projects">
      <h1><a href="/projects/">Projects</a></h1>
      <div>
        {% for project in collections.projects | reverse %}
          {% if loop.index <= 2 %}
            {% include "project-item.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items blog">
      <h1><a href="/blog/">Blog</a></h1>
      <div>
        {% for post in collections.blog | reverse %}
          {% if loop.index <= 4 %}
            {% include "home-item.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items events">
      <h1><a href="/events/">Speaking</a></h1>
      <div>
        {% for post in collections.events | reverse %}
          {% if loop.index <= 4 %}
            {% include "home-event.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items travel">
      <h1><a href="/life/travel/">Travel</a></h1>
      <div class="horizontal-scroller">
        <div class="home-highlights">{% highlights %}</div>
      </div>
    </section>
  </div>
</main>
{% include "footer.njk" %}
