<article itemscope itemtype="http://schema.org/Event">
  <a itemprop="url" href="{{ post.url | url }}">
    <span>
      <h2 itemprop="name">{{ post.data.title }}</h2>
      <meta itemprop="startDate" content="{{ post.data.date }}" />
      <meta itemprop="endDate" content="{{ post.data.date }}" />
      <span itemprop="startDate">{{ post.data.date | datetime | safe }}</span>
    </span>
    <span class="meta" itemprop="location" itemscope itemtype="http://schema.org/Place">
      <span itemprop="name">{{ post.data.places | place }}</span>
      <meta itemprop="address" content="{{ post.data.venue }}" />
    <span>
  </a>
</article>
