<article>
  <a href="{{ post.url | url }}">
    <span>
      <h2>{{ post.data.title }}</h2>
      <time>{{ post.data.date.toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year : "numeric"
      }) }}</time>
    </span>
    <span class="meta">
      {{ post.data.places | place }}
    <span>
  </a>
</article>
