<article itemscope itemtype="http://schema.org/Event">
  <a itemprop="url" href="{{ post.url | url }}">
    <span>
      <h2 itemprop="name">{{ post.data.title }}</h2>
      <time itemprop="startDate">{{ post.data.date.toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year : "numeric"
      }) }}</time>
    </span>
    <span class="meta" itemprop="location" itemscope itemtype="http://schema.org/Place">
      <span itemprop="name">{{ post.data.places | place }}</span>
    <span>
  </a>
</article>
