{% include "head.njk" %}
<main id="content">
  <div class="container-large">
    <div class="hero">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
    <section class="home-items projects">
      <h1>Projects</h1>
      <div>
        {% for project in collections.projects | reverse %}
          {% if loop.index <= 2 %}
            {% include "project-item.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items blog">
      <h1>Blog</h1>
      <div>
        {% for post in collections.blog | reverse %}
          {% if loop.index <= 4 %}
            {% include "home-item.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items events">
      <h1>Speaking</h1>
      <div>
        {% for post in collections.events | reverse %}
          {% if loop.index <= 4 %}
            {% include "home-event.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
    <section class="home-items travel">
      <h1>Travel</h1>
      <div>
        {% for post in travel %}
          {% if loop.index <= 7 %}
            {% include "home-travel.njk" %}
          {% endif %} 
        {% endfor %}
      </div>
    </section>
  </div>
</main>
{% include "footer.njk" %}
