<article>
  <picture>
    <img src="https://tse2.mm.bing.net/th?q={{ post.name | encodeURIComponent }}&w=100&h=100&p=0&dpr=2&adlt=moderate&c=1" alt="" loading="lazy">
  </picture>
  <div>{{ post.name }}</div>
  <div><time>December 2019</time></div>
</article>
