<article>
  <a href="{{ post.url | url }}">
    <h2>{{ post.data.title }}</h2>
    <time>{{ post.data.date.toLocaleDateString("en-US", {
      day: "numeric",
      month: "short",
      year : "numeric"
    }) }}</time>
    {% if post.data.tags and (post.data.tags.length > 0) %}<div class="project-tags">
      {% for tag in post.data.tags %}{% if tag !== "blog" %}
      <span>{{ tag | getBlogTagName }}</span>
      {% endif %}
      {% endif %}{% endfor %}
    </div>{% endif %}
  </a>
</article>
