---
permalink: feed.json
metadata:
  title: Anand Chowdhary
  url: https://anandchowdhary.com/
  author:
    name: Anand Chowdhary
    email: mail@anandchowdhary.com
    avatar: https://avatars3.githubusercontent.com/u/2841780?s=460&v=4
  feed:
    subtitle: "Anand Chowdhary is a creative technologist and entrepreneur. He is the founder and CEO of Oswald Labs, an accessibility technology company."
    filename: feed.json
    path: feed.json
    url: https://anandchowdhary.com/feed.json
    id: https://anandchowdhary.com/
---
{
  "version": "https://jsonfeed.org/version/1",
  "user_comment": "This feed allows you to read the posts from this site in any feed reader that supports the JSON Feed format. To add this feed to your reader, copy the following URL — https://anandchowdhary.com/feed.json — and add it your reader.",
  "title": "{{ metadata.title }}",
  "description": "{{ metadata.feed.subtitle }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.feed.url }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.url }}",
    "avatar": "{{ metadata.author.avatar }}"
  },
  "items": [
    {%- for post in collections.all %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {
      "title": "{{ post.data.title }}",
      "date_published": "{{ post.date | rssDate }}",
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "content_html": "{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | removeNewLines }}"
    }{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
