---
pagination:
  data: pocketCastsPodcasts
  size: 10
  alias: pagination
---

{% include "head.njk" %}
<main id="content">
  <nav class="breadcrumbs">
    <a href="/life/">Life</a>
    <a href="/life/listening/">Listening</a>
    <a href="/life/listening/podcasts/">Podcasts</a>
  </nav>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <p>This data was last updated {{ lifeDataLastUpdated["podcasts.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['podcasts.yml'].html_url }}">{{ lifeDataLastUpdated["podcasts.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/podcasts.yml">podcasts.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/pocket-casts.ts">Pocket Casts</a> on GitHub.</p>
  <section class="link-list podcasts-list">
    {% for item in pagination %}
      <article>
        <a href="{{ item.url }}">
          <div class="f">
            <img alt="" src="{{ (item.title + ' podcast cover') | bingImageUrl }}">
            <div class="f ff">
              <div>{{ item.title }}</div>
              <div>{{ item.author }}</div>
            </div>
          </div>
        </a>
      </article>
    {% endfor %}
  </section>
  {% if pagination.pageLinks.length > 1 %}
  <nav class="pagination {% if pagination.previousPageLink %}pagination--has-prev{% endif %} {% if pagination.nextPageLink %}pagination--has-next{% endif %}">
    {% if pagination.previousPageLink %}
      <a class="pagination-item pagination-item--prev" href="{{ pagination.previousPageHref | url }}"><span>Previous</span></a>
    {% endif %}
    {% if pagination.nextPageLink %}
      <a class="pagination-item pagination-item--next" href="{{ pagination.nextPageHref | url }}"><span>Next</span></a>
    {% endif %}
  </nav>
  {% endif %}
</main>
{% include "footer.njk" %}
