{% include "head.njk" %}
<main id="content">
  <nav class="breadcrumbs">
    <a href="/life/">Life</a>
    <a href="/life/listening/">Listening</a>
  </nav>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <ul class="link-list life-categories">
    <li>
      <a href="/life/listening/podcasts/">
        <span class="emoji" aria-hidden="true">🎙️</span>
        <span>Podcasts</span>
      </a>
    </li>
    <li>
      <a href="/life/listening/music/">
        <span class="emoji" aria-hidden="true">🎧</span>
        <span>Music</span>
      </a>
    </li>
  </ul>
</main>
{% include "footer.njk" %}
