---
pagination:
  data: shortTermArtists
  size: 10
  alias: pagination
---

{% include "head.njk" %}
<main id="content">
  <header class="intro s">
    <div>
      <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/life/">
            <span itemprop="name">Life</span></a>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/life/listening/">
            <span itemprop="name">Listening</span></a>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/life/listening/music/">
            <span itemprop="name">Music</span></a>
          </a>
          <meta itemprop="position" content="3" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/life/listening/music/artists/">
            <span itemprop="name">{{ title }}</span></a>
          </a>
          <meta itemprop="position" content="4" />
        </li>
      </ol>
      <h1>{{ title }}</h1>
      {{ content | safe }}
      <p>This is a living document, and data was last updated {{ lifeDataLastUpdated["top-artists.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['top-artists.yml'].html_url }}">{{ lifeDataLastUpdated["top-artists.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/top-artists.yml">top-artists.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/spotify.ts">Spotify</a> on GitHub. You can also view the <a href="https://github.com/AnandChowdhary/life-data/commits/master/top-artists.yml">commit history</a> to see how this data has changed over time.</p>
    </div>
  </header>
  <div class="container-outer">
    <section class="link-list music-list">
      {% for item in pagination %}
        <article>
          <a href="{{ item.href | replace('api.spotify.com/v1/artists', 'open.spotify.com/artist') }}">
            <div class="f">
              <img alt="" src="{{ item.images[1].url }}">
              <div class="ff">
                <h2>{{ item.name }}</h2>
                <div>{{ item.genres[0] | capitalize }}</div>
              </div>
            </div>
          </a>
        </article>
      {% endfor %}
    </section>
    {% if pagination.pageLinks.length > 1 %}
    <nav class="pagination {% if pagination.previousPageLink %}pagination--has-prev{% endif %} {% if pagination.nextPageLink %}pagination--has-next{% endif %}">
      {% if pagination.previousPageLink %}
        <a class="pagination-item pagination-item--prev" href="{{ pagination.previousPageHref | url }}"><span>Previous</span></a>
      {% endif %}
      {% if pagination.nextPageLink %}
        <a class="pagination-item pagination-item--next" href="{{ pagination.nextPageHref | url }}"><span>Next</span></a>
      {% endif %}
    </nav>
    {% endif %}
  </div>
</main>
{% include "footer.njk" %}
