{% include "head.njk" %}
<main id="content">
  <nav class="breadcrumbs">
    <a href="/life/">Life</a>
    <a href="/life/work">Work</a>
    <a href="/life/work/programming/">Programming</a>
  </nav>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <p>This data was last updated {{ lifeDataLastUpdated["development.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['development.yml'].html_url }}">{{ lifeDataLastUpdated["development.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/development.yml">development.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/wakatime.ts">Wakatime</a> on GitHub.</p>
  <div class="data-summary">
    <div>
      <div>{{ programming.totalText }}</div>
      <div>Total this week</div>
    </div>
    <div>
      <div>{{ programming.dailyAverageText }}</div>
      <div>Daily average</div>
    </div>
  </div>
  <section class="collaborators-list languages-list">
    <h2>Top languages</h2>
    {% for item in programming.languages %}
      <article>
        <a href="#">
          <img class="colla-pic" alt="" src="{{ (item.name + ' icon/70/70') | bingImageUrl }}">
          <span>{{ item.name }}</span>
          <span class="flag">{{ item.text }}</span>
        </a>
      </article>
    {% endfor %}
  </section>
</main>
{% include "footer.njk" %}
