{% include "head.njk" %}
<main id="content">
  <header class="intro s">
    <div>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
  </header>
  <div class="container-outer nmb">
    <h2>Travel</h2>
  </div>
  <div class="container ox"><section class="sum-list">
    {% for item in cities %}{% if loop.index <= 5 %}
      <article>
        <a href="/life/travel/{{ item.slug }}/">
          <div> 
            <img alt="" src="{% cityImageUrl item.slug %}">
            <div>
              <h3>{% cityName item.slug %}</h3>
              <div>{% cityCountry item.slug %}</div>
            </div>
          </div>
        </a>
      </article>
    {% endif %}{% endfor %}
  </section></div>
  <div class="container-outer nm">
    <p><a href="/life/travel/">Explore more cities &rarr;</a></p>
    <h2 style="margin-top: 3rem">Programming</h2>
    <p>This tracks my programming hours in VS Code. Last updated {{ lifeDataLastUpdated["development.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['development.yml'].html_url }}">{{ lifeDataLastUpdated["development.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/development.yml">development.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/wakatime.ts">Wakatime</a>.</p>
  </div>
  <div class="container ox"><section class="sum-list nr">
    {% for item in programming.languages %}{% if loop.index <= 5 %}
      <article>
        <span class="a">
          <div>
            <img src="{{ (item.name + ' icon/70/70') | bingImageUrl }}" alt="">
            <div>
              <h3>{{ item.name }}</h3>
              <div>{{ item.text }}</div>
            </div>
          </div>
        </span>
      </article>
    {% endif %}{% endfor %}
  </section></div>
  <div class="container-outer nm">
    <p><a href="/life/work/programming/">Explore more top languages &rarr;</a></p>
  </div>
  <div class="container">
    <div class="f">
      <div style="flex: 1 0 0">
        <h2 style="margin-top: 3rem">Productivity</h2>
        <p style="max-width: 500px">My productivity data is tracked using RescueTime, and is a total of the time I spend on (most) screens.</p>
        <iframe
          style="border: none; width: 100%; height: 57.5vh"
          title="Productivity data"
          src="https://anandchowdhary.github.io/life/?repo=AnandChowdhary/life&api=rescuetime-time-tracking&latest=top-overview.weeks"></iframe>
      </div>
      <div style="flex: 1 0 0">
        <h2 style="margin-top: 3rem">Sleep</h2>
        <p style="max-width: 500px">My sleep data is tracked using an Oura Ring on the right middle finger.</p>
        <iframe
          style="border: none; width: 100%; height: 57.5vh"
          title="Sleep data"
          src="https://anandchowdhary.github.io/life/?repo=AnandChowdhary/life&api=oura-sleep&latest=total.weeks"></iframe>
      </div>
    </div>
  </div>
  <div class="container-outer nm">
    <h2 style="margin-top: 3rem">Emails</h2>
    <p>Last updated {{ lifeDataLastUpdated["emails.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['emails.yml'].html_url }}">{{ lifeDataLastUpdated["emails.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/emails.yml">emails.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/gmail.ts">Gmail</a>.</p>
    <div class="data-summary">
      <div>
        <div>{{ emails.sentLastWeek }}</div>
        <div>Sent this week</div>
      </div>
      <div>
        <div>{{ emails.receivedLastWeek }}</div>
        <div>Received this week</div>
      </div>
      <div>
        <div>{{ ((emails.sentLastWeek / emails.receivedLastWeek) * 100) | round(2) }}%</div>
        <div>Reply ratio</div>
      </div>
    </div>
    <p><a href="/life/work/emails/">Explore more emails overview &rarr;</a></p>
    <h2 style="margin-top: 3rem">Podcasts</h2>
    <p>I use <a href="https://github.com/AnandChowdhary/services/blob/master/api/pocket-casts.ts">Pocket Casts</a> to listen to podcasts pretty frequently. Last updated {{ lifeDataLastUpdated["podcasts.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['podcasts.yml'].html_url }}">{{ lifeDataLastUpdated["podcasts.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/podcasts.yml">podcasts.yml</a>.</p>
  </div>
  <div class="container ox"><section class="sum-list nr">
    {% for item in pocketCastsPodcasts %}{% if loop.index <= 5 %}
      <article>
        <a href="{{ item.url | url }}">
          <div>
            <img alt="" src="{{ (item.title + ' podcast cover') | bingImageUrl }}">
            <div>
              <h3>{{ item.title }}</h3>
              <div>{{ item.author }}</div>
            </div>
          </div>
        </a>
      </article>
    {% endif %}{% endfor %}
  </section></div>
  <div class="container-outer nm">
    <p><a href="/life/listening/podcasts/">Explore more podcasts &rarr;</a></p>
    <h2 style="margin-top: 3rem">Top Songs</h2>
    <p>Last updated {{ lifeDataLastUpdated["top-tracks.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['top-tracks.yml'].html_url }}">{{ lifeDataLastUpdated["top-tracks.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/top-tracks.yml">top-tracks.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/spotify.ts">Spotify</a>.</p>
  </div>
  <div class="container ox"><section class="sum-list nr">
    {% for item in shortTermTracks %}{% if loop.index <= 5 %}
      <article>
        <a href="{{ item.href | replace('api.spotify.com/v1/tracks', 'open.spotify.com/track') }}">
          <div>
            <img alt="" src="{{ item.album.images[1].url }}">
            <div>
              <h3>{{ item.name }}</h3>
              <div>{{ item.artists[0].name }}</div>
            </div>
          </div>
        </a>
      </article>
    {% endif %}{% endfor %}
  </section></div>
  <div class="container-outer nm">
    <p><a href="/life/listening/music/songs/">Explore more top tracks &rarr;</a></p>
    <h2 style="margin-top: 3rem">Top Artists</h2>
    <p>Last updated {{ lifeDataLastUpdated["top-artists.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['top-artists.yml'].html_url }}">{{ lifeDataLastUpdated["top-artists.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/top-artists.yml">top-artists.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/spotify.ts">Spotify</a>.</p>
  </div>
  <div class="container ox"><section class="sum-list">
    {% for item in shortTermArtists %}{% if loop.index <= 5 %}
      <article>
        <a href="{{ item.href | replace('api.spotify.com/v1/artists', 'open.spotify.com/artist') }}">
          <div>
            <img alt="" src="{{ item.images[1].url }}">
            <div>
              <h3>{{ item.name }}</h3>
              <div>{{ item.genres[0] | capitalize }}</div>
            </div>
          </div>
        </a>
      </article>
    {% endif %}{% endfor %}
  </section></div>
  <div class="container-outer nm">
    <p><a href="/life/listening/music/artists/">Explore more top artists &rarr;</a></p>
    <h2 style="margin-top: 3rem">Books</h2>
    <p>This is a list of new books I've completed recently. I mostly use an Kindle to read books and Audible to listen to audiobooks. Last updated {{ lifeDataLastUpdated["books.yml"].commit.author.date | datetimetime | safe }} in <a href="{{ lifeDataLastUpdated['books.yml'].html_url }}">{{ lifeDataLastUpdated["books.yml"].sha | truncate(6, true, "") }}</a> in <a href="https://github.com/AnandChowdhary/life-data/blob/master/books.yml">books.yml</a> using <a href="https://github.com/AnandChowdhary/services/blob/master/api/goodreads.ts">Goodreads</a>.</p>
  </div>
  <div class="container ox"><section class="sum-list nr">
    {% for item in books %}{% if loop.index <= 5 %}
      <article>
        <a href="{{ item.url | url }}">
          <div>
            {% if 'nophoto' in item.image_url %}
              <div class="img book-img" style="background-image: url('{{ (item.title + ' ' + item.author + ' book cover/80/120') | bingImageUrl }}')"></div>
            {% else %}
              <div class="img book-img" style="background-image: url('{{ item.image_url }}')"></div>
            {% endif %}
            <div>
              <h3>{{ item.title }}</h3>
              <div>{{ item.author }}</div>
            </div>
          </div>
        </a>
      </article>
    {% endif %}{% endfor %}
  </section></div>
  <div class="container-outer nmt">
    <p><a href="/life/reading/">Explore more books &rarr;</a></p>
  </div>
</main>
{% include "footer.njk" %}
