{% include "head.njk" %}
<main id="content">
  <nav class="breadcrumbs">
    <a href="/life/">Life</a>
    <a href="/life/work/">Work</a>
  </nav>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <ul class="link-list life-categories">
    <li>
      <a href="/life/work/programming/">
        <span class="emoji" aria-hidden="true">💻</span>
        <span>Programming</span>
      </a>
    </li>
    <li>
      <a href="/life/work/emails/">
        <span class="emoji" aria-hidden="true">📨</span>
        <span>Emails</span>
      </a>
    </li>
  </ul>
</main>
{% include "footer.njk" %}
