<nav>
  <a href="#">Home</a>
  <a href="#">Projects</a>
  <a href="#">Blog</a>
  <a href="#">Speaking</a>
  <div class="more">
    <a href="#">Open-source</a>
    <a href="#">About</a>
    <a href="#">Press</a>
    <a href="#">Contact</a>
  </div>
</nav>
