<nav>
  <a{% if page.url == "/" %} class="active"{% endif %} href="/">Home</a>
  <a{% if page.url == "/projects/" %} class="active"{% endif %} href="/projects/">Projects</a>
  <a{% if page.url == "/blog/" %} class="active"{% endif %} href="/blog/">Blog</a>
  <a{% if page.url == "/events/" %} class="active"{% endif %} href="/events/">Speaking</a>
  <div id="more">
    <a{% if page.url == "/open-source/" %} class="active"{% endif %} href="/open-source/">Open-source</a>
    <a{% if page.url == "/about/" %} class="active"{% endif %} href="/about/">About</a>
    <a{% if page.url == "/press/" %} class="active"{% endif %} href="/press/">Press</a>
    <a{% if page.url == "/travel/" %} class="active"{% endif %} href="/travel/">Travel</a>
    <a{% if page.url == "/contact/" %} class="active"{% endif %} href="/contact/">Contact</a>
    <a href="#">&times;</a>
  </div>
  <a href="#more">&middot; &middot; &middot;</a>
</nav>
