{% include "head.njk" %}
<main id="content">
  <header class="intro s">
    <div>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    <div>
  </header>
  <div class="container-outer">
    <h2 id="lists">Lists <a class="direct-link" href="#lists">#</a></h2>
    <section class="link-list press-list">
      {% for item in press.lists %}
        {% include "press-item.njk" %}
      {% endfor %}
    </section>
    <h2 id="podcasts-tv">Podcasts and TV <a class="direct-link" href="#podcasts-tv">#</a></h2>
    <section class="link-list press-list">
      {% for item in press["podcasts-tv"] %}
        {% include "press-item.njk" %}
      {% endfor %}
    </section>
    <h2 id="interviews">Interviews <a class="direct-link" href="#interviews">#</a></h2>
    <section class="link-list press-list">
      {% for item in press.interviews %}
        {% include "press-item.njk" %}
      {% endfor %}
    </section>
    <h2 id="features">Features <a class="direct-link" href="#features">#</a></h2>
    <section class="link-list press-list">
      {% for item in press.features %}
        {% include "press-item.njk" %}
      {% endfor %}
    </section>
  </div>
</main>
{% include "footer.njk" %}
