<article>
  <a href="{{ item.url }}">
    <div class="f">
      {{ item.url | iconify | safe }}
      <div class="f ff">
        <div>{{ item.name }}</div>
        <div>{{ item.date }}</div>
      </div>
    </div>
  </a>
</article>
