---
pagination:
  data: collections.projects
  size: 10
  reverse: true
  alias: pagination
---

{% include "head.njk" %}
<main id="content">
  <div class="container-large small-p">
    <h1>{{ title }}</h1>
    {{ content | safe }}
    <nav class="filter-nav">
      <a class="active" href="/projects/">All</a>
      <a href="/projects/web">Web</a>
      <a href="/projects/app">Apps</a>
      <a href="/projects/branding">Branding</a>
      <a href="/projects/ai">AI/ML</a>
      <a href="/projects/iot">IoT</a>
      <a href="/projects/vrar">VR/AR</a>
      <a href="/projects/oswald-labs/">Oswald Labs</a>
      <a href="/projects/open-source/">Open source</a>
      <a href="/projects/hackathons">Hackathons</a>
    </nav>
    <section class="projects">
      <div>
        {% for project in pagination %}
          {% include "project-item.njk" %}
        {% endfor %}
      </div>
    </section>
    {% if pagination.pageLinks.length > 1 %}
    <nav class="pagination {% if pagination.previousPageLink %}pagination--has-prev{% endif %} {% if pagination.nextPageLink %}pagination--has-next{% endif %}">
      {% if pagination.previousPageLink %}
        <a class="pagination-item pagination-item--prev" href="{{ pagination.previousPageHref | url }}"><span>Previous</span></a>
      {% endif %}
      {% if pagination.nextPageLink %}
        <a class="pagination-item pagination-item--next" href="{{ pagination.nextPageHref | url }}"><span>Next</span></a>
      {% endif %}
    </nav>
    {% endif %}
  </div>
</main>
{% include "footer.njk" %}
