<article class="project-item">
  <a href="{{ project.url | url }}">
    <div aria-hidden="true" class="project-image project-image-{{ project.data.style }}" style="background-color: {{ project.data.bg }}">
      <div
        class="project-image-front"
        style="background-image: url('{{ project.data.img_src }}.{{ project.data.img_type }}')"
      ></div>
    </div>
    <div>
      {% if project.data.icon %}
        <div class="project-item-icon{% if project.data.icon_bg %} project-item-icon-box{% endif %}">
          <img alt="" src="{{ project.data.icon }}">
        </div>
      {% endif %}
      <h2>{{ project.data.title }}</h2>
      <time>{{ project.data.date.toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year : "numeric"
      }) }}</time>
    </div>
    <p>{{ project.data.intro }}</p>
  </a>
</article>
