---
pagination:
  data: toolsTags
  size: 1
  alias: toolsTags
addAllPagesToCollections: true
permalink: /projects/tools/{{ toolsTags | slug }}/
---

{% include "head.njk" %}
<main id="content">
  {% toolsTagsArchive toolsTags %}
</main>
{% include "footer.njk" %}
