{% include "head.njk" %}
<main id="content">
  <div class="f">
    <div>
      <h1 class="{% if icon %}has-icon{% else %}has-no-icon{% endif %}">{% if icon %}<img class="item-icon" alt="" src="{{ icon }}">{% endif %}<span>{{ title }}</span></h1>
      <div>
        <time>{{ date.toLocaleDateString("en-US", {
          month: "short",
          year : "numeric"
        }) }}</time>
      </div>
    </div>
    {% if award or award_position %}<div><div class="award{% if award_position %} award--{{ award_position }}{% endif %}">
      {% if award_position %}
        {% if award_position === 1 %}
          <span class="award-position">1st prize</span>
        {% elif award_position === 2 %}
          <span class="award-position">1st prize</span>
        {% elif award_position === 3 %}
          <span class="award-position">1st prize</span>
        {% else %}
          <span>{{ award_position }}</span>
        {% endif %}
      {% endif %}
      <span>{{ award }}</span>
    </div></div>{% endif %}
  </div>
  <a class="show-project-details" href="#details">Show project details</a>
  <div class="project-intro" id="details">
    {% if work or stack or collaborators %}<dl>
      {% if work %}<span>
        <dt>Work</dt>
        {% for tag in work %}
        <dd>{{ tag }}</dd>
        {% endfor %}
      </span>{% endif %}
      {% if stack %}<span>
        <dt>Stack</dt>
        {% for tag in stack %}
        <dd>{{ tag }}</dd>
        {% endfor %}
      </span>{% endif %}
      {% if collaborators %}<span>
        <dt>Collaborators</dt>
        {% for tag in collaborators %}
        <dd>{{ tag }}</dd>
        {% endfor %}
      </span>{% endif %}
    </dl>{% endif %}
    {% if timeline or client or places %}<dl>
      {% if client %}<span>
        <dt>Client</dt>
        {% if client_link %}
        <dd><a href="{{ client_link }}">{{ client }}</a></dd>
        {% else %}
        <dd>{{ client }}</dd>
        {% endif %}
      </span>{% endif %}
      {% if timeline %}<span>
        <dt>Timeline</dt>
        <dd>{{ timeline }}</dd>
      </span>{% endif %}
      {% if places %}<span>
        <dt>City</dt>
        <dd><a href="/travel/{{ places }}">{{ places | place }}</a></dd>
      </span>{% endif %}
    </dl>{% endif %}
  </div>
  <a class="hide-project-details" href="#">Hide project details</a>
  {{ content | safe }}
</main>
{% include "footer.njk" %}
