<div class="project-intro">
  <dl>
    <span>
      <dt>Client</dt>
      <dd>Black hot drink</dd>
    </span>
    <span>
      <dt>Milk</dt>
      <dd>White cold drink</dd>
    </span>
  </dl>
</div>

{{ page.award }}
