<article>
  <a href="{{ project.url | url }}">
    <div class="image">
      <img alt="" src="{{ project.data.img_src }}.{{ project.data.img_type }}">
    </div>
    <div>
      <h2>{{ project.data.title }}</h2>
      <time>{{ project.data.date.toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year : "numeric"
      }) }}</time>
    </div>
    <p>{{ project.data.intro }}</p>
  </a>
</article>
