---
pagination:
  data: collaboratorsTags
  size: 1
  alias: collaboratorsTags
addAllPagesToCollections: true
permalink: /projects/collaborators/{{ collaboratorsTags | slug }}/
---

{% include "head.njk" %}
<main id="content">
  {% collaboratorsTagsArchive collaboratorsTags %}
</main>
{% include "footer.njk" %}
