{% include "head.njk" %}
<main id="content">
  <h1><img alt="" class="item-icon" src="https://d33wubrfki0l68.cloudfront.net/4d93e3f08e7e63f1dd77111560e5bd65d33e86d6/eb88f/images/projects/scrub/icon.png"><span>{{ title }}</span></h1>
  <div>
    <time>{{ date.toLocaleDateString("en-US", {
      month: "short",
      year : "numeric"
    }) }}</time>
  </div>
  <div class="project-intro">
    <dl>
      <span>
        <dt>Work</dt>
        {% for tag in work %}
        <dd>{{ tag }}</dd>
        {% endfor %}
      </span>
      {% if client %}<span>
        <dt>Client</dt>
        {% if client_link %}
        <dd><a href="{{ client_link }}">{{ client }}</a></dd>
        {% else %}
        <dd>{{ client }}</dd>
        {% endif %}
      </span>{% endif %}
      {% if timeline %}<span>
        <dt>Timeline</dt>
        <dd>{{ timeline }}</dd>
      </span>{% endif %}
    </dl>
    {% if award or places or venue %}<dl>
      {% if award %}<span>
        <dt>Award</dt>
        <dd>{{ award_position }} {{ award }}</dd>
      </span>{% endif %}
      {% if places %}<span>
        <dt>City</dt>
        <dd><a href="/travel/{{ places }}">{{ places | place }}</a></dd>
      </span>{% endif %}
      {% if venue %}<span>
        <dt>Venue</dt>
        <dd><a href="https://www.google.com/maps/search/?api=1&query={{ venue | encodeURIComponent }},%20{{ places | encodeURIComponent }}">{{ venue }}</a></dd>
      </span>{% endif %}
    </dl>{% endif %}
  </div>
  {{ content | safe }}
</main>
{% include "footer.njk" %}
