<article>
  <a href="{{ post.url | url }}">
    <div class="f">
      <img alt="" src="#">
      <div class="ff">
        <h2>v{{ post.data.title }}{% if post.data.latest %} <span class="htag">Latest</span>{% endif %}</h2>
        <div>{{ post.data.date | datetimemonth | safe }}</div>
      </div>
    </div>
</a>
</article>
