<article class="versions-item">
  <a href="{{ post.url | url }}">
    <div class="content">
      <div class="versions-image" style="background-image: url('/images/versions/{{ post.fileSlug }}/home.png')"></div>
      <div>
        <h2>{{ post.data.title }}{% if post.data.latest %} <span class="htag">Latest</span>{% endif %}</h2>
        <p>{{ post.data.date | datetimemonth | safe }}</p>
        <div>
          <span aria-label="{{ post.data.generator | default('HTML') }}" data-balloon-pos="up" class="url-icon" style="background-image: url('{{ (post.data.generator | default('HTML') + ' icon/70/70') | bingImageUrl }}')"></span>
          <span>Random city</span>
          <span>Random info</span>
        </div>
      </div>
    </div>
  </a>
</article>
