{% include "head.njk" %}
<main id="content">
  <header class="intro s">
    <div>
    <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">Anand Chowdhary</span></a>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/about/">
          <span itemprop="name">About</span></a>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/about/versions/">
          <span itemprop="name">{{ title }}</span></a>
        </a>
        <meta itemprop="position" content="3" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/{{ page.url }}/">
          <span itemprop="name">{{ title }}</span></a>
        </a>
        <meta itemprop="position" content="4" />
      </li>
    </ol>
    <h1>{{ title }}</h1>
    <a class="show-project-details" href="#details">Show version details</a>
    <div class="project-intro" id="details">
      <dl>
        {% if date %}<span>
          <dt>Published</dt>
          <dd>{{ date | datetimemonth | safe }}</dd>
        </span>{% endif %}
        {% if archive %}<span>
          <dt>Archive</dt>
          <dd><a href="{{ archive }}">Internet Archive</a></dd>
        </span>{% endif %}
        {% if source %}<span>
          <dt>Source</dt>
          <dd><a href="{{ source }}">GitHub tree</a></dd>
        </span>{% endif %}
        {% if generator %}<span>
          <dt>Generator</dt>
          <dd>{{ generator }}</dd>
        </span>{% endif %}
        {% if stack and (stack.length > 0) %}<span>
          <dt>Stack</dt>
          {% for tag in stack %}
          <dd>{{ tag }}</dd>
          {% endfor %}
        </span>{% endif %}
        {% if type and (type.length > 0) %}<span>
          <dt>Typefaces</dt>
          {% for tag in type %}
          <dd>{{ tag }}</dd>
          {% endfor %}
        </span>{% endif %}
        {% if domain %}<span>
          <dt>Domain</dt>
          <dd>{{ domain }}</dd>
        </span>{% endif %}
      </dl>
    </div>
    <a class="hide-project-details" href="#">Hide version details</a>
    </div>
  </header>
  <div class="container-outer">
    <div class="image shadow scrollable">
      <img alt="Screenshot of {{ title }} homepage" src="/images/versions/{{ title | slug }}/home.png">
    </div>
    {{ content | safe }}
    {% if alias %}
    <p><a href="{{ alias | url }}">{{ alias | iconify | safe }}Read {{ title }} on {{ publisher }}</a></p>
    {% endif %}
  </div>
</main>
{% include "footer.njk" %}
