{# ---
pagination:
  data: collections.versions
  size: 10
  reverse: true
  alias: pagination
--- #}

{% include "head.njk" %}
<main id="content">
  <header class="intro s">
    <div>
      <nav class="breadcrumbs">
        <a href="/about/">About</a>
        <a href="/about/versions/">Versions</a>
      </nav>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
  </header>
  {# <div class="container m">
    <section class="blog-posts">
      {% for post in pagination %}
        {{ post.title }}
      {% endfor %}
    </section>
    {% if pagination.pageLinks.length > 1 %}
    <nav class="pagination {% if pagination.previousPageLink %}pagination--has-prev{% endif %} {% if pagination.nextPageLink %}pagination--has-next{% endif %}">
      {% if pagination.previousPageLink %}
        <a class="pagination-item pagination-item--prev" href="{{ pagination.previousPageHref | url }}"><span>Previous</span></a>
      {% endif %}
      {% if pagination.nextPageLink %}
        <a class="pagination-item pagination-item--next" href="{{ pagination.nextPageHref | url }}"><span>Next</span></a>
      {% endif %}
    </nav>
    {% endif %}
  </div> #}
</main>
{% include "footer.njk" %}
