{% include "head.njk" %}
<main id="content">
  <header class="intro s">
    <div>
    <nav class="breadcrumbs">
      <a href="/about/">About</a>
      <a href="/about/versions/">Versions</a>
      <a href="/{{ url }}/">{{ title }}</a>
    </nav>
    <h1>{{ title }}</h1>
    <a class="show-project-details" href="#details">Show version details</a>
    <div class="project-intro" id="details">
      <dl>
        {% if date %}<span>
          <dt>Published</dt>
          <dd>{{ date | datetime | safe }}</dd>
        </span>{% endif %}
        {% if archive %}<span>
          <dt>Archive</dt>
          <dd><a href="{{ archive }}">Internet Archive</a></dd>
        </span>{% endif %}
        {% if source %}<span>
          <dt>Source</dt>
          <dd><a href="{{ source }}">GitHub tree</a></dd>
        </span>{% endif %}
        {% if generator %}<span>
          <dt>Generator</dt>
          <dd>{{ generator }}</dd>
        </span>{% endif %}
        {% if stack and (stack.length > 0) %}<span>
          <dt>Stack</dt>
          {% for tag in stack %}
          <dd>{{ tag }}</dd>
          {% endfor %}
        </span>{% endif %}
        {% if type and (type.length > 0) %}<span>
          <dt>Typefaces</dt>
          {% for tag in type %}
          <dd>{{ tag }}</dd>
          {% endfor %}
        </span>{% endif %}
        {% if domain %}<span>
          <dt>Domain</dt>
          <dd>{{ domain }}</dd>
        </span>{% endif %}
      </dl>
    </div>
    <a class="hide-project-details" href="#">Hide version details</a>
    </div>
  </header>
  <div class="container-outer">
    <div class="image shadow">
      <img alt="Screenshot of {{ title }} homepage" src="/images/versions/{{ title | slug }}/home.png">
    </div>
    {{ content | safe }}
    {% if alias %}
    <p><a href="{{ alias | url }}">{{ alias | iconify | safe }}Continue reading on {{ publisher }}</a></p>
    {% endif %}
  </div>
</main>
{% include "footer.njk" %}
