{{ partial "header.html" . }}
	<main>
		<div class="article-title page">
			<h1>{{ .Title }}</h1>
		</div>
		{{ range sort .Paginator.Pages }}
		<article class="article-list">
			<div class="article-title">
				{{ if .Params.icon }}
				<img class="project-icon" alt="{{ .Title }} icon" src="/images/{{ .Title | urlize }}/icon.png">
				{{ end }}
				<h2><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h2>
			</div>
			{{ if in .URL "/events/" }}
				<div class="meta">
					<div class="client-details">
						<div>
							<div>Date</div>
							<div>
								{{ if .Params.futureDate }}
									<time>{{ .Params.futureDate }}</time>
								{{ else }}
									<time>{{ .Date.Format "January 1, 2006" }}</time>
								{{ end }}
							</div>
						</div>
						{{ if .Params.role }}
							<div>
								<div>Role</div>
								<div><a href="/roles/{{ .Params.role | urlize }}">{{ .Params.role }}</a></div>
							</div>
						{{ end }}
						{{ if .Params.location }}
							<div>
								<div>Location</div>
								<div>
									<a href="/places/{{ .Params.location | urlize }}">
										{{ .Params.location }}
										{{ .Params.emoji }}
									</a>
								</div>
							</div>
						{{ end }}
					</div>
				</div>
			{{ else if not .Date.IsZero }}
				<div class="meta">Posted on <time>{{ .Date.Format "January 2, 2006" }}</time></div>
			{{ end }}
			<div class="content">
				<p>{{ .Summary | plainify | safeHTML }}</p>
				{{ if .Truncated }}
					{{ if .Params.color }}
						<p><a style="color: {{ .Params.color }}; background: none" class="button is-link" href="{{ .Permalink }}">Continue reading &rarr;</a></p>
					{{ else }}
						<p><a class="button is-link" href="{{ .Permalink }}">Continue reading &rarr;</a></p>
					{{ end }}
				{{ end }}
			</div>
		</article>
		{{ end }}
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
