{{ partial "header.html" . }}
	<main>
		<article class="single {{ .Title | urlize }}">
			<div class="article-title{{ if .Date.IsZero }} page{{ end }}">
				{{ if .Params.icon }}
					<img class="project-icon" alt="{{ .Title }} icon" src="/images/{{ .Title | urlize }}/icon.png">
				{{ end }}
				<h1>{{ .Title }}</h1>
			</div>
			{{ if in .URL "/projects/" }}
				<div class="meta">
					<time>{{ .Date.Format "January 2006" }}</time>
					<div class="client-details">
						{{ if .Params.client }}
							<div>
								<div>Client</div>
								<div>{{ .Params.client }}</div>
							</div>
						{{ end }}
						{{ if .Params.timeline }}
							<div>
								<div>Timeline</div>
								<div>{{ .Params.timeline }}</div>
							</div>
						{{ end }}
					</div>
				</div>
			{{ else if in .URL "/events/" }}
				<div class="meta">
					{{ if .Params.eventDate }}
						<time>{{ .Params.eventDate }}</time>
					{{ else }}
						<time>{{ .Date.Format "January 2006" }}</time>
					{{ end }}
					<div class="client-details">
						{{ if .Params.role }}
							<div>
								<div>Role</div>
								<div>{{ .Params.role }}</div>
							</div>
						{{ end }}
						{{ if .Params.location }}
							<div>
								<div>Location</div>
								<div>{{ .Params.location }}</div>
							</div>
						{{ end }}
					</div>
				</div>
			{{ else if not .Date.IsZero }}
				<div class="meta">Posted on <time>{{ .Date.Format "January 2, 2006" }}</time></div>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			{{ if .Params.tags }}<footer class="meta">
				Tags {{ range $i, $e := .Params.tags }}
				&middot; <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</footer>{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}