{{ partial "header.html" . }}
	<main>
		<article class="single {{ .Title | urlize }}">
			<div class="article-title{{ if .Date.IsZero }} page{{ end }}">
				{{ if .Params.icon }}
					<img class="project-icon" alt="{{ .Title }} icon" src="/images/{{ .Title | urlize }}/icon.png">
				{{ end }}
				<h1>{{ .Title }}</h1>
			</div>
			{{ if in .URL "/projects/" }}
				<div class="meta">
					<time>{{ .Date.Format "January 2006" }}</time>
				</div>
			{{ else if not .Date.IsZero }}
				<div class="meta">Posted on <time>{{ .Date.Format "January 2, 2006" }}</time></div>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			{{ if .Params.tags }}<footer class="meta">
				Tags {{ range $i, $e := .Params.tags }}
				&middot; <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</footer>{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}