$colorHome: blue;
$colorProjects: red;
$colorBlog: green;
$colorEvents: #22a6b3;
$colorLife: hotpink;
// $colorEvents: #4834d4;
$colorTravel: yellow;
// $colorOpenSource: #f9ca24;

$colorLight: blue;
$linkColor: blue;
$focusRingColor: #70a1ff;
