$colorHome: #e84393;
$colorProjects: #0984e3;
$colorBlog: #00b894;
$colorEvents: #eb4d4b;
// $colorEvents: #4834d4;
$colorTravel: #f9ca24;
// $colorOpenSource: #f9ca24;

$colorLight: blue;
$linkColor: blue;
$focusRingColor: #70a1ff;
