$colorHome: #e84393;
$colorProjects: #0984e3;
$colorBlog: #00b894;
$colorEvents: #eb4d4b;
// $colorEvents: #4834d4;
$colorTravel: #f9ca24;
// $colorOpenSource: #f9ca24;

$colorLight: #004bab;
$linkColor: #0652dd;
$focusRingColor: #70a1ff;

body {
  margin: 0;
  font-size: 115%;
  overflow-wrap: break-word;
  font-feature-settings: "kern" 1,"liga" 1,"dlig" 1;
  font-kerning: normal;
}

p, ul, ol, footer {
  line-height: 1.7;
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.sr-only {
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
}

a {
  color: $linkColor;
  transition: 0.3s;
  &:focus {
    outline: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 0 0.2rem $focusRingColor;
  }
}

header#masthead,
footer#colophon {
  font-size: 90%;
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main#content .breadcrumbs {
  line-height: 1;
  margin-bottom: 0.75rem;
  a {
    text-decoration: none;
    &:last-child {
      display: none;
    }
    &::after {
      content: "›";
      margin: 0 0.75rem;
      pointer-events: none;
    }
  }
}

header#masthead {
  nav, #more {
    display: flex;
  }
  a[href="#more"] {
    transition: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  nav a {
    padding: 1.5rem 1rem;
    transition: 0.3s;

    &.active {
      // font-weight: bold;
      box-shadow: inset 0 0.25rem 0;
      &[href="/"] {
        color: $colorHome;
      }
      &[href="/projects/"] {
        color: $colorProjects;
      }
      &[href="/blog/"] {
        color: $colorBlog;
      }
      &[href="/events/"] {
        color: $colorEvents;
      }
    }

    &:hover, &:focus {
      box-shadow: inset 0 0.25rem 0 #aaa;
      &[href="/"] {
        box-shadow: inset 0 0.25rem 0 $colorHome;
      }
      &[href="/projects/"] {
        box-shadow: inset 0 0.25rem 0 $colorProjects;
      }
      &[href="/blog/"] {
        box-shadow: inset 0 0.25rem 0 $colorBlog;
      }
      &[href="/events/"] {
        box-shadow: inset 0 0.25rem 0 $colorEvents;
      }
    }

    span {
      transition: 0.3s;
    }
    &:focus span {
      box-shadow: 0 0 0 0.2rem $focusRingColor;
      border-radius: 0.2rem;
    }
  }

  #more {
    display: none;
  }

  a.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 110%;
    &:focus {
      box-shadow: none;
    }
    span {
      transition: 0.3s;
    }
    &:focus {
      span {
        box-shadow: 0 0 0 0.2rem $focusRingColor;
        border-radius: 0.2rem;
      }
      svg {
        transform: scale(1.2);
      }
    }

    svg {
      height: 1.5rem;
      margin-right: 1rem;
      transition: 0.3s;
    }
  }
}

header#masthead #more:target {
  display: flex;
  + a[href="#more"] {
    visibility: hidden;
  }
}

main#content {
  max-width: 1100px;
  margin: 5rem auto 7.5rem auto;

  > * {
    max-width: 600px;
    margin: 0 auto 1rem auto;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul li {
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  iframe {
    width: 100%;
    border: none;
    max-width: 100%;
    margin: 2.5rem 0;
  }

  img {
    max-width: 100%;
  }

  .two-images,
  .three-images,
  .image {
    line-height: 1;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: space-between;
    &.shadow > * {
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    }
  }

  .two-images,
  .three-images,
  .image,
  iframe {
    margin: 5rem 0;
    + .two-images,
    + .three-images,
    + .image,
    + iframe {
      margin-top: -4rem;
    }
  }
  h1, h2, h3, h4 {
    + .two-images,
    + .three-images,
    + .image,
    + iframe {
      margin-top: 0;
    }
  }

  .two-images {
    > * {
      width: 49.25%;
    }
  }

  .three-images {
    > * {
      width: 32.25%;
    }
  }

  footer:last-child {
    color: $colorLight;
    text-align: center;
  }
}

figure {
  margin: 0;
  figcaption {
    text-align: center;
    font-size: 90%;
  }
}

nav.pagination {
  display: flex;
  line-height: 1;
  justify-content: space-between;
  &.pagination--has-next:not(.pagination--has-prev) {
    justify-content: flex-end;
  }
  .pagination-item {
    &::before, &::after {
      background-color: #333;
      width: 5rem;
      color: #fff;
      height: 5rem;
      vertical-align: middle;
      line-height: 5rem;
      border-radius: 100%;
      text-align: center;
      font-size: 200%;
      display: inline-block;
    }
    &.pagination-item--prev::before {
      content: "←";
      margin-right: 2rem;
    }
    &.pagination-item--next {
      align-self: flex-end;
      &::after {
        margin-left: 2rem;
        content: "→";
      }
    }
    &:hover {
      &::before, &::after {
        transform: scale(1.05);
      }
    }
    &:focus {
      box-shadow: none;
      span {
        box-shadow: 0 0 0 0.2rem blue;
      }
      &::before, &::after {
        transform: scale(1.1);
      }
    }
  }
}

.home-items > div,
.projects > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  $gutter: 2%;
  article {
    width: (50 - ($gutter / 2));
    margin-bottom: ($gutter * 2);
    > a > span {
      display: block;
    }
  }

  h2 {
    font-size: 120%;
    margin: 0 1rem 0.5rem 0;
  }

  h2, time {
    display: inline;
  }

  time, .meta {
    color: rgba(100, 100, 100, 0.75);
  }

  .meta {
    margin-top: 0.25rem;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.projects > div {
  .project-image {
    background-color: rgba(100, 100, 100, 0.5);
    padding-top: 66%;
    margin-bottom: 1.25rem;
    position: relative;
    .project-image-front {
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
    }
    &.project-image-padded .project-image-front {
      background-size: contain;
      left: 1rem; right: 1rem;
      top: 1rem; bottom: 1rem;
    }
    &.project-image-cover .project-image-front {
      top: 0; bottom: 0;
      right: 0; left: 0;
      background-size: cover;
    }
  }

  p {
    margin-top: 0.5rem;
  }
}

main#content > .container-large {
  max-width: 100%;
}

.hero {
  max-width: 500px;
  margin: 5rem 0;
}

.books main#content .author {
  font-size: 110%;
  margin-top: -1.25rem;
  margin-bottom: 2rem;
}

main#content .home-items {
  position: relative;
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    margin: 0;
    padding: 0;
    font: inherit;
    position: absolute;
    left: -20px;
    line-height: 1;
    top: 0;
    transform: translate(-100%,-100%) rotate(-90deg);
    transform-origin: bottom right;
    &::before {
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      background-color: #aaa;
      vertical-align: middle;
      margin-right: 0.5rem;
      border-radius: 100%;
      margin-top: -0.2rem;
      display: inline-block;
    }
    a:focus {
      box-shadow: 0 0 0 0.2rem $focusRingColor !important;
    }
  }

  &.projects h1 {
    border-color: $colorProjects;
    &::before {
      background-color: $colorProjects;
    }
  }
  &.blog h1 {
    border-color: $colorBlog;
    &::before {
      background-color: $colorBlog;
    }
  }
  &.events h1 {
    border-color: $colorEvents;
    &::before {
      background-color: $colorEvents;
    }
  }
  &.travel {
    h1 {
      border-color: $colorTravel;
      &::before {
        background-color: $colorTravel;
      }
    }
    picture {
      transition: 0.3s;
    }
    article {
      margin: 0;
    }
    a:focus {
      box-shadow: none;
      picture {
        transform: scale(1.05);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25), 0 0 0 0.2rem $focusRingColor;
      }
    }
  }

  + .home-items {
    margin-top: 4rem;
  }
}

footer#colophon {
  margin-bottom: 1rem;
  text-align: center;
  a {
    color: inherit;
    text-decoration: none;
  }
  nav {
    a:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.travel > div {
  article {
    flex: 0 0 auto;
    text-align: center;
    width: 10rem;
  }
  picture + div > div:last-child {
   margin-top: 0.5rem;
   font-size: 90%;
  }
  $image-width: 50%;
  picture {
    overflow: hidden;
    width: $image-width;
    margin: 0 auto 1rem auto;
    line-height: 1;
    display: block;
    border: 0.125rem solid rgba(100, 100, 100, 1);
    padding: 0.25rem;
    border-radius: 100%;
    img {
      vertical-align: top;
      border-radius: 100%;
      background-color: rgba(100, 100, 100, 0.5);
      width: 100%;
    }
  }
}

.travels {
  article {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    picture {
      overflow: hidden;
      width: 3rem;
      line-height: 1;
      display: block;
      border: 0.125rem solid rgba(100, 100, 100, 1);
      padding: 0.25rem;
      margin-right: 1.5rem;
      border-radius: 100%;
      img {
        vertical-align: top;
        border-radius: 100%;
        background-color: rgba(100, 100, 100, 0.5);
        width: 100%;
      }
    }
    time {
      color: rgba(100, 100, 100, 0.6);
      margin-left: 1rem;
      display: inline-block;
    }
  }
}

.content {
  position: relative;
}

.events-item {
  margin-top: 2.5rem;
  // display: flex;
  // .map {
  //   background-color: gray;
  //   width: 10rem;
  //   height: 10rem;
  //   margin-right: 2.5rem;
  // }
  .content {
    // flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    transition: 0.3s;
  }
  a:focus {
    img {
      box-shadow: 0 0 0 0.2rem $focusRingColor;
      transform: scale(1.05) translateY(.65rem);
    }
  }
  h2 {
    margin-top: 0;
    font-size: 120%;
  }
  .meta {
    margin-top: 0.5rem;
  }
  .location {
    margin-top: -2rem;
  }
  .location div:last-child {
    text-align: right;
  }
  .location, .meta {
    display: flex;
    justify-content: space-between;
  }
}

.events main#content {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.posts {
  article {
    margin-bottom: 2.5rem;
  }
}

blockquote {
  padding-left: 1.5rem;
  box-sizing: border-box;
  border-left: 2px solid #eee;
  > p {
    font-style: italic;
  }
}

.press #content {
  p:not(:first-of-type) {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h2 {
    margin-top: 2.5rem;
  }
  img {
    height: 3rem;
    width: 3rem;
    margin-left: -4rem;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 1rem;
  }
}

.item-icon {
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
  margin-right: 1.5rem;
  margin-left: -6.5rem;
  transform: translateY(0.65rem);
  border-radius: 100%;
  // margin-bottom: -2rem;
}

.projects, .project-item,
.open-source, .open-source-item {
  .item-icon {
    border-radius: 0;
  }
}

figcaption {
  margin-top: 1.5rem;
  color: $colorLight;
}

main#content .project-intro {
  margin: 5rem auto;
  line-height: 1;
  a {
    color: inherit;
    text-decoration: none;
  }
  dl {
    margin: 0;
    display: flex;
    > * {
      flex: 1 0 0;
    }
    + dl {
      margin-top: 2.5rem;
    }
  }
  dt {
    color: $colorLight;
    font-size: 90%;
    margin-bottom: 0.75rem;
  }
  dd {
    margin: 0;
    + dd {
      margin-top: 0.75rem;
    }
  }
}

.projects {
  p {
    max-width: 500px;
    // margin-bottom: 2.5rem;
  }
  nav.filter-nav {
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      background-color: whitesmoke;
      color: inherit;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      &.active {
        background-color: $colorProjects;
        color: #fff;
      }
    }
  }
}

.projects:not(.index) main#content {
  h1 {
    + div {
      margin-top: -2.75rem;
    }
    &.has-no-icon + div {
      margin-top: -0.5rem;
    }
  }
}

.blog:not(.home-items) article {
  margin-top: 5rem;
  a {
    text-decoration: none;
  }
  h2 + div {
    margin-top: -1rem;
    margin-bottom: 2rem;
    color: $colorLight;
    display: block;
  }
  .tag {
    display: inline-block;
    background-color: #f1c40f;
    color: #000;
    line-height: 1;
    font-size: 80%;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
  }
}

pre, code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1rem;
  background-color: whitesmoke;
  border-radius: 0.2rem;
}

code {
  padding: 0.25rem 0.5rem;
  margin: 0 0.1rem;
}

main#content pre {
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem auto;
  white-space: pre;
  + pre {
    margin-top: -1rem;
  }
  code {
    padding: 0;
  }
}

h1 {
  font-size: 225%;
}
h2 {
  font-size: 175%;
}

.travel main#content section {
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  article {
    width: 48%;
  }
}

.travel-item {
  margin-top: 2.5rem;
  a {
    color: inherit;
    text-decoration: none;
    display: block;
    &:focus {
      box-shadow: none;
      .map {
        box-shadow: 0 0 0 0.2rem $focusRingColor;
      }
      picture {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.5rem) scale(1.1);
      }
    }
  }
  .map {
    background-color: #aaa;
    height: 10rem;
    border-radius: 0.2rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
  }
  .content {
    width: 90%;
    margin: -4rem auto 0 auto;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    h2 {
      margin-bottom: 0.5rem;
      font-size: 125%;
    }
    picture {
      overflow: hidden;
      background-color: #fff;
      width: 7.5rem;
      line-height: 1;
      display: block;
      border: 0.125rem solid rgba(100, 100, 100, 1);
      padding: 0.25rem;
      transition: 0.3s;
      margin-right: 1.5rem;
      border-radius: 100%;
      img {
        vertical-align: top;
        border-radius: 100%;
        background-color: rgba(100, 100, 100, 0.5);
        width: 100%;
      }
    }
  }
}

main#content .project-item {
  position: relative;
  .project-item-icon {
    transition: 0.3s;
    position: absolute;
    height: 5rem;
    width: 5rem;
    margin-top: -3.8rem;
    right: 1.5rem;
    border-radius: 0.2rem;
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.3));
  }
  .project-image {
    transition: 0.3s;
    border-radius: 0.2rem;
  }
  a:focus {
    box-shadow: none;
    .project-item-icon {
      transform: scale(1.1);
      filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.4));
    }
    .project-image {
      box-shadow: 0 0 0 0.2rem $focusRingColor;
    }
  }
}

.external-link::after {
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTc2IDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNNDQ4IDI3OXYxODVjMCAyNy0yMSA0OC00OCA0OEg0OGMtMjcgMC00OC0yMS00OC00OFYxMTJjMC0yNyAyMS00OCA0OC00OGgyNDhhMjQgMjQgMCAwMTE3IDdsMTYgMTZjMTUgMTUgNCA0MS0xNyA0MUg2NHYzMjBoMzIwVjI5NWMwLTYgMy0xMiA3LTE3bDE2LTE2YzE1LTE1IDQxLTQgNDEgMTd6TTU3NiAzN2MwLTIwLTE3LTM3LTM3LTM3SDM4MGMtMTUgMC0yOCAxMy0yOCAyOHYxOGMwIDE2IDEzIDI4IDI5IDI4bDY3LTItMjQ5IDI0N2MtOSA5LTkgMjUgMCAzNGwyNCAyNGM5IDkgMjUgOSAzNCAwbDI0Ny0yNDktMiA2N2MwIDE2IDEyIDI5IDI4IDI5aDE4YzE1IDAgMjgtMTMgMjgtMjhWMzd6Ii8+PC9zdmc+");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 0.25em;
  margin-right: 0.1em;
  opacity: 0.5;
}
.external-link span:last-child, .sr-only {
  position: fixed;
  z-index: -1;
  left: -10%;
  top: -10%;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.blog img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main#content {
  .book-image,
  .video-image {
    line-height: 1;
    margin-right: 2rem;
    perspective: 50rem;
    transform-style: preserve-3d;
    position: relative;
    transition: 0.3s;
    border-radius: 0.2rem;
    img {
      position: relative;
      border-radius: 0.2rem;
      z-index: 1;
      width: 5rem;
      transition: 0.3s;
    }
    &.book-image-lg {
      position: absolute;
      left: -7rem;
      top: -0.25rem;
    }
  }
  .book-image::before {
    content: "";
    width: 1rem;
    height: 1rem;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    border-radius: 100%;
    filter: blur(0.4rem);
    transform: scale(1.25);
    position: absolute;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .blog-posts, .blog-title {
    .l {
      flex: 0.6 0 0;
      > div {
        position: sticky;
        top: 1.5rem;
      }
    }
    .r {
      flex: 1 0 0;
    }
  }
  .blog-title {
    margin-bottom: 0;
    display: flex;
    h1 {
      margin-bottom: 0;
      margin-top: 2.5rem;
      + p {
        margin-top: 1rem;
      }
    }
  }
  .blog-posts, .pagination, .blog-title {
    max-width: 960px;
  }
  .blog-posts article {
    display: flex;
    h2 {
      font-size: 120%;
      margin-bottom: 1.5rem;
      a {
        color: inherit;
      }
      + div {
        font-size: 90%;
      }
    }
  }
}

.blog {
  .url-icon {
    margin-right: 1rem;
  }
}

main#content .books-item,
main#content .videos-item {
  margin-top: 2rem;
  h2 {
    font-size: 125%;
    margin-bottom: 0.5rem;
    + div {
      color: $colorLight;
    }
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    .content {
      display: flex;
      align-items: center;
      > div {
        flex: 1 0 0;
      }
    }
    &:focus {
      box-shadow: none;
      .book-image img {
        box-shadow: 0 0 0 0.2rem $focusRingColor;
        transform: scale(1.05);
      }
      .video-image {
        transform: scale(1.03);
        box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25), 0 0 0 0.2rem $focusRingColor !important;
      }
      .book-image{
        transform: translateY(-0.5rem);
        &::before {
          transform: scale(1.5);
          bottom: -1rem;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .rating {
    line-height: 1;
    margin-top: 0.5rem;
  }
}

.star {
  height: 1.5rem;
  &.half-star + .half-star {
    margin-left: -0.35rem;
  }
}

.videos main#content section {
  max-width: 900px;
  .videos-item {
    &:first-child {
      margin-top: 4rem;
    }
    span:nth-child(2) {
      margin: 0 1rem;
    }
    h2 {
      margin-bottom: 1rem;
    }
    .video-image {
      background-color: #aaa;
      border-radius: 0.2rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      flex: 0.5 0 0;
      height: 10rem;
      display: block;
      box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.15);
      svg {
        width: 2.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-45%, -50%);
        z-index: 1;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.25));
      }
    }
  }
}

main#content .show-project-details,
main#content .hide-project-details {
  display: none;
  background-color: whitesmoke;
  color: inherit;
  text-align: center;
  padding: 0.75rem;
  border-radius: 0.2rem;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 80%;
  margin: 2.5rem auto;
}

.f {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.url-icon {
  border: 1px solid #ddd;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-color: #aaa;
  background-position: center center;
  vertical-align: middle;
  line-height: 1;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

.award {
  display: inline-block;
  background-color: #f9ca24;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  line-height: 1;
  .award-position {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    vertical-align: middle;
    margin-top: -0.1rem;
    margin-right: 0.5rem;
    opacity: 0.8;
    display: inline-block;
  }
}

@media (min-width: 500px) {
  header#masthead {
    #more {
      position: absolute;
      flex-direction: column;
      top: 0;
      right: 0;
      z-index: 1000;
      transform: translateX(32.5%);
      a {
        white-space: nowrap;
        text-align: center;
        &.active {
          box-shadow: none;
          font-weight: bold;
          span {
            opacity: 0.5;
          }
        }
        &:hover {
          box-shadow: none;
        }
        &:nth-child(2) {
          padding-top: 1.5rem;
          border-radius: 0.2rem 0.2rem 0 0;
        }
        &:last-child {
          padding-bottom: 1.5rem;
          border-radius: 0 0 0.2rem 0.2rem;
        }
        &:first-child {
          position: relative;
          span {
            display: inline-block;
            transform: scale(1.5);
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-bottom: 0.5rem solid #333;
          }
        }
        + a {
          background-color: #333;
          color: #fff;
          width: 10rem;
          padding: 0.5rem 0;
          &:hover {
            opacity: 1;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  main#content {
    margin: 2.5rem auto 3.5rem auto;
    > * {
      width: 90%;
    }
    .two-images,
    .three-images,
    .image,
    iframe {
      margin: 3rem 0;
      + .two-images,
      + .three-images,
      + .image,
      + iframe {
        margin-top: -3rem;
      }
    }
    .show-project-details,
    .hide-project-details {
      display: block;
    }
    .show-project-details + #details,
    .show-project-details + #details + .hide-project-details {
      display: none;
    }
    #details:target, #details:target + .hide-project-details {
      display: block;
    }
    .project-intro {
      margin: 3rem auto;
      dl {
        display: block;
      }
      dl + dl, span + span {
        margin-top: 1.5rem;
        display: block;
      }
    }
    .two-images, .three-images {
      display: block;
      > * {
        width: 100%;
      }
    }
    iframe.video-embed {
      height: 15rem;
    }
  }
  .f {
    display: block;
    > *:not(:first-child) {
      margin-top: 2.5rem;
    }
  }
  header#masthead {
    display: block;
    nav {
      overflow-x: auto;
    }
    a.logo {
      justify-content: center;
    }
    a.logo, nav a {
      padding: 1rem;
    }
    a[href="#more"], #more a[href="#"] {
      display: none;
    }
    #more {
      display: flex;
      a {
        white-space: nowrap;
      }
    }
  }
  h1.has-icon,
  h1.has-icon + div {
    margin-left: 6.5rem;
  }
  .projects:not(.index) main#content,
  .blog:not(.home-items) article {
    h1 {
      margin-top: 0;
    }
  }
  .home-items > div, .projects > div {
    display: block;
    article {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 0;
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
  main#content .project-item .project-item-icon {
    width: 3rem;
    height: 3rem;
    margin-top: -2.5rem;
    right: 1rem;
  }
  main#content .home-items h1 {
    transform: none;
    position: relative;
    margin-bottom: 1.5rem;
    left: 0;
  }
  main#content .home-items.travel > div article {
    &:nth-child(5), &:nth-child(6) {
      display: none;
    }
    &:not(:nth-child(4)) {
      margin-bottom: 1rem;
    }
    a {
      align-items: center;
      text-align: left;
      display: flex;
      picture {
        margin: 0 1.5rem 0 0;
        width: 3rem;
      }
    }
  }
  .home-items.blog article {
    h2 {
      margin: 0;
    }
    time {
      display: block;
      margin-top: 0.5rem;
    }
  }
  main#content .blog-posts article,
  main#content .blog-title {
    display: block;
  }
  .blog:not(.home-items) article {
    h2+div {
      margin-bottom: 0;
    }
    .tag {
      margin-top: 0.75rem;
    }
    .r {
      margin-top: 1rem;
    }
  }
  .projects nav.filter-nav {
    margin-bottom: 3rem;
    a {
      margin-bottom: 1rem;
    }
  }
  footer#colophon {
    display: block;
    margin-bottom: 2rem;
    nav {
      margin-bottom: 1rem;
    }
  }
  .events-item {
    .location, .events-item .meta {
      display: block;
    }
    .location div:last-child {
      text-align: inherit;
      margin-top: 0.5rem;
    }
    h2 a {
      display: flex;
      margin-bottom: 1.5rem;
      &:focus {
        img {
          transform: scale(1.05) translateY(-0.33rem);
        }
      }
    }
  }
  .item-icon {
    margin-left: 0;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    transform: translateY(-0.33rem);
    margin-right: 1rem;
  }
}
