body {
  margin: 0;
  font-size: 115%;
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
}

p {
  line-height: 1.7;
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: #1e3799;
  // text-underline-position: under;
  &:hover {
    opacity: 0.75;
  }
}

header#masthead,
footer#colophon {
  font-size: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header#masthead {
  nav, #more {
    display: flex;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  nav a {
    padding: 1.5rem 1rem;
    transition: 0.3s;

    &.active {
      font-weight: bold;
      box-shadow: inset 0 0.25rem 0;
    }

    &:hover {
      box-shadow: inset 0 0.25rem 0 #aaa;
    }
  }

  #more {
    display: none;
  }

  a.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 110%;

    svg {
      height: 1.5rem;
      margin-right: 1rem;
    }
  }
}

header#masthead #more:target {
  display: flex;
  + a[href="#more"] {
    display: none;
  }
}

main#content {
  max-width: 1100px;
  margin: 2rem auto;

  > * {
    max-width: 720px;
    margin: 0 auto 1rem auto;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul li {
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

figure {
  margin: 0;
  figcaption {
    text-align: center;
  }
}

nav.pagination {
  display: flex;
  justify-content: space-between;
}

.home-items > div,
.projects > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  $gutter: 2%;
  article {
    width: (50 - ($gutter / 2));
    margin-bottom: ($gutter * 2);
  }

  h2 {
    font-size: 120%;
    margin: 0 1rem 0.5rem 0;
    font-weight: bold;
  }

  h2, time {
    display: inline;
  }

  time, .meta {
    color: rgba(100, 100, 100, 0.6);
  }

  .meta {
    margin-top: 0.5rem;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.projects > div {
  .image {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 1rem;
    margin-bottom: 1.25rem;
  }

  p {
    margin-top: 0.5rem;
  }
}

main#content > .container-large {
  max-width: 100%;
}

.hero {
  max-width: 500px;
  margin: 5rem 0;
}

.home-items {
  position: relative;
  h1 {
    margin: 0;
    padding: 0;
    font: inherit;
    position: absolute;
    left: -20px;
    top: 0;
    transform: translate(-100%,-100%) rotate(-90deg);
    transform-origin: bottom right;
  }

  + .home-items {
    margin-top: 4rem;
  }
}

footer#colophon {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.travel > div {
  article {
    flex: 1 0 0;
    text-align: center;
  }
  picture ~ div:last-child {
   margin-top: 0.5rem;
   font-size: 90%;
  }
  $image-width: 50%;
  picture {
    width: $image-width;
    margin: 0 auto 1rem auto;
    line-height: 1;
    display: block;
    border: 0.125rem solid rgba(100, 100, 100, 1);
    padding: 0.25rem;
    border-radius: 100%;
    img {
      vertical-align: top;
      border-radius: 100%;
      background-color: rgba(100, 100, 100, 0.5);
      width: 100%;
    }
  }
}
