body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
.hero p, .serif {
  line-height: 1.3;
  font-family: "Domine", "IBM Plex Serif", "Georgia", serif;
}

.hero h1 {
  font-size: 175%;
}

.hero p {
  line-height: 1.6;
  font-size: 110%;
}

p, ul, ol, footer {
  line-height: 1.7;
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 175%;
}

