@import "./variables";

body {
  font-family: $sansSerif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero p,
.serif {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-family: "IBM Plex Serif", "Georgia", serif;
  font-weight: 600;
}

.hero h1 {
  font-size: 175%;
}

.hero p {
  line-height: 1.6;
  font-size: 110%;
  font-weight: 500;
}

p,
ul,
ol,
footer {
  line-height: 1.7;
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 175%;
}

[aria-label][data-balloon-pos]:after {
  font: inherit !important;
}
