@import "./variables";

body {
  font-family: $sansSerif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero p,
.serif {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-family: "IBM Plex Serif", "Georgia", serif;
  font-weight: 600;
}

.hero h1 {
  font-size: 175%;
}

.hero p {
  line-height: 1.6;
  font-size: 110%;
  font-weight: 500;
}

p,
ul,
ol,
footer {
  line-height: 1.7;
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 175%;
}

[aria-label][data-balloon-pos]:after {
  font: inherit !important;
}

.small-caps {
  font-variant: small-caps;
}
.pull-T,
.pull-V,
.pull-W,
.pull-Y {
  margin-left: -0.07em;
}
.push-T,
.push-V,
.push-W,
.push-Y {
  margin-right: 0.07em;
}
.pull-O,
.pull-C,
.pull-o,
.pull-c {
  margin-left: -0.04em;
}
.push-O,
.push-C,
.push-o,
.push-c {
  margin-right: 0.04em;
}
.pull-A {
  margin-left: -0.03em;
}
.push-A {
  margin-right: 0.03em;
}
.pull-single {
  margin-left: -0.27em;
}
.push-single {
  margin-right: 0.27em;
}
.pull-double,
.push-double,
.pull-single,
.push-single {
  display: inline-block;
}
.pull-double {
  margin-left: -0.46em;
}
.push-double {
  margin-right: 0.46em;
}

html,
body,
table {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0;
}

h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 1;
}

abbr {
  text-transform: uppercase;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
}

time {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0;
}

pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0,
    "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}

sup {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

sub {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 0, "lnum" 1, "zero" 0;
}

tbody,
caption {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1,
    "onum" 0, "lnum" 1, "zero" 1;
}
