@media (min-width: 700px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 17px;
	}
}

@media (min-width: 1400px) {
	html {
		font-size: 18px;
	}
}

body {
	font-family: "acumin-pro", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	margin: 2rem 0;
	color: #4b555e;
	line-height: 1.7;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div.container {
	max-width: 1250px;
	margin: 0 auto;
}

a {
	transition: 0.3s;
	color: #000;
	text-decoration: none;
}
p a[target="_blank"]::after {
	content: "External";
}

header#masthead,
footer#colophon,
.twos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

header#masthead {
	a.logo {
		color: #4b555e;
		text-decoration: none;
		font-weight: bold;
		font-size: 110%;
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin-right: 1rem;
				display: inline-block;
				a {
					color: #6f777d;
					text-decoration: none;
					box-shadow: 0 3px 0 transparent;
					&:focus, &:hover, &:active, &.active {
						color: #4b555e;
						box-shadow: 0 3px 0 #ddd;
					}
					svg {
						margin-bottom: 0.35em;
						g {
							fill: #959ba0;
						}
					}
				}
				&:nth-of-type(1) { a:focus, a:hover, a:active, a.active, {
					box-shadow: 0 3px 0 #e84393;
				} }
				&:nth-of-type(2) { a:focus, a:hover, a:active, a.active, {
					box-shadow: 0 3px 0 #1abc9c;
				} }
				&:nth-of-type(3) { a:focus, a:hover, a:active, a.active, {
					box-shadow: 0 3px 0 #f39c12;
				} }
				&:nth-of-type(4) { a:focus, a:hover, a:active, a.active, {
					box-shadow: 0 3px 0 #00a8ff;
				} }
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}

section {
	position: relative;
	.elements {
		position: relative;
		h2.side-title {
			margin: 0;
			padding: 0;
			font-size: 100%;
			position: absolute;
			left: -20px;
			top: 0;
			transform: translate(-100%, -100%) rotate(-90deg);
			transform-origin: bottom right;
		}
		article {
			a {
				color: inherit;
				&:hover, &:hover p {
					color: #000;
				}
			}
			width: 50%;
			picture {
				display: block;
				padding: 0;
				margin: 0 0 1rem 0;
				width: 100%;
			}
			img { width: 100%; }
		}
		&.elements-lg {
			article {
				padding-left: 1rem;
				padding-right: 1rem;
				margin-bottom: 2rem;
				&:nth-of-type(2n) {
					padding-right: 0;
				}
				&:nth-of-type(2n - 1) {
					padding-left: 0;
				}
			}
			p {
				font-size: 95%;
				transition: 0.3s;
				margin-top: 0.25rem;
				color: #6f777d;
			}
		}
	}
	& + section {
		margin-top: 12.5vh;
	}
}

@media (max-width: 550px) {
	section.elements.elements-lg article {
		flex: 0 0 100%;
		padding-right: 0;
		padding-left: 0;
	}
}

footer#colophon {
	font-size: 90%;
	margin-top: 12.5vh;
	.love {
		color: #dc3545;
	}
}

h1.intro {
	padding: 12.5vh 0;
	margin: 0;
	font-size: 1.25rem;
	font-weight: 400;
	max-width: 28em;
	line-height: 1.5;
	color: #4b555e;
}
@media (min-width: 550px) {
	h1.intro {
		font-size: 1.26rem;
	}
}

p {
	margin-top: 0;
	&:last-of-type {
		margin-bottom: 0;
	}
}

ul.filter {
	margin: 0 0 1rem 0;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		margin-right: 0.5rem;
		line-height: 1;
		button {
			color: #6f777d;
			transition: 0.3s;
			font: inherit;
			background: transparent;
			border: none;
			padding: 10px 12px;
			border-radius: 2rem;
			&:focus, &:active, &:hover {
				background-color: whitesmoke;
				color: #000;
				outline: none;
			}
			&.selected {
				background-color: #e84393 !important;
				color: #fff !important;
			}
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}

img {
	max-width: 100%;
}

.dark {
	body {
		background-color: #0f171b;
		color: rgba(255, 255, 255, 0.75);
	}
	a {
		color: #fff;
	}
	h1.intro {
		color: #9ea2a4;
	}
	section {
		.elements {
			article {
				a {
					&:hover, &:hover p {
						color: #fff;
					}
				}
			}
			&.elements-lg {
				p {
					color: #6f777d;
				}
			}
		}
	}
	header#masthead {
		a.logo {
			color: #fff;
		}
		nav {
			ul {
				li {
					a {
						color: rgba(255, 255, 255, 0.75);
						&:focus, &:hover, &:active, &.active {
							color: #fff;
						}
						svg {
							g {
								fill: rgba(255, 255, 255, 0.75);
							}
						}
					}
				}
			}
		}
	}
}